## Introduction au dataset

- Lire all-ages.csv dans un DataFrame et l'assigner à la variable all_ages.
- Lire recent-grads.csv dans un DataFrame et l'assigner à la variable recent_grads.
- Afficher les 5 premières lignes de all_ages et recent_grads.

In [59]:
import pandas as pd 

all_ages = pd.read_csv("jeux_donnees/all-ages.csv")
all_ages

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423.0,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266.0,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821.0,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619.0,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894.0,0.049188,62000,38500,90000.0
...,...,...,...,...,...,...,...,...,...,...,...
168,6211,HOSPITALITY MANAGEMENT,Business,200854,163393,122499,8862.0,0.051447,49000,33000,70000.0
169,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,156673,134478,118249,6186.0,0.043977,72000,50000,100000.0
170,6299,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business,102753,77471,61603,4308.0,0.052679,53000,36000,83000.0
171,6402,HISTORY,Humanities & Liberal Arts,712509,478416,354163,33725.0,0.065851,50000,35000,80000.0
172,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,17746,11887,8204,943.0,0.073500,50000,39000,81000.0

In [60]:
recent_grads = pd.read_csv("jeux_donnees/recent-grads.csv")
recent_grads

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

## Nombre d'étudiants par catégorie de Major
- Retourner les valeurs uniques de Major_category.
    - Utiliser la méthode Series.unique() (équivalent du distinct en SQL) pour retourner les valeurs uniques d'une Series.

In [61]:
aa_major_categories = all_ages["Major_category"].unique()
print(aa_major_categories,"\n")
print(type(aa_major_categories))

rg_major_categories = recent_grads["Major_category"].unique()
print(rg_major_categories)

['Agriculture & Natural Resources' 'Biology & Life Science' 'Engineering'
 'Humanities & Liberal Arts' 'Communications & Journalism'
 'Computers & Mathematics' 'Industrial Arts & Consumer Services'
 'Education' 'Law & Public Policy' 'Interdisciplinary' 'Health'
 'Social Science' 'Physical Sciences' ' Physical Sciences'
 'Psychology & Social Work' '15726' 'Arts' 'Business']

<class 'numpy.ndarray'>
['Engineering' 'Business' 'Physical Sciences' 'Law & Public Policy'
 'Computers & Mathematics' 'Agriculture & Natural Resources'
 'Industrial Arts & Consumer Services' 'Arts' 'Health' 'Social Science'
 'Biology & Life Science' 'Education' 'Humanities & Liberal Arts'
 'Psychology & Social Work' 'Communications & Journalism'
 'Interdisciplinary']

- Pour chaque valeur unique (utilisation d'une boucle for?):
    - Retourner toutes les lignes où Major_category vaut cette valeur unique.
    - Calculer le nombre total d'étudiants représentant cette catégorie de major (colonne Total à sommer).
    - Vous garderez en mémoire ce résultat sous la forme d'un dictionnaire contenant une Major_category en clé et le nombre d'étudiants en valeur.

In [62]:
aa_cat_counts = {}
rg_cat_counts = {}

for major_category in aa_major_categories:
    aa_cat = all_ages[all_ages["Major_category"]==major_category]
    aa_cat_counts[major_category] = aa_cat["Total"].sum()

for major_category in rg_major_categories:
    rg_cat = recent_grads[recent_grads["Major_category"]==major_category]
    rg_cat_counts[major_category] = rg_cat["Total"].sum()

print("all_ages :")
print(aa_cat_counts)

print("\nrecent_grads :")
print(rg_cat_counts)

all_ages :
{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1018072, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1013152, ' Physical Sciences': 12166, 'Psychology & Social Work': 1987278, '15726': 12607, 'Arts': 1805865, 'Business': 9858741}

recent_grads :
{'Engineering': 537583, 'Business': 1302376, 'Physical Sciences': 185479, 'Law & Public Policy': 179107, 'Computers & Mathematics': 299008, 'Agriculture & Natural Resources': 79981, 'Industrial Arts & Consumer Services': 229792, 'Arts': 357130, 'Health': 463230, 'Social Science': 529966, 'Biology & Life Science': 453862, 'Education': 559129, 'Humanities & Liberal Arts': 713468, 'Psychology & Social Work': 481007, 'Communications & Journalism': 392601, 'Interdisciplinary': 12296}

In [63]:
# Fonction qui renvoie ces dictionnaires :

def cat_count(data):

    major_categories = data["Major_category"].unique()
    counts = {}

    for major_category in major_categories:
        data_cat = data[data["Major_category"]==major_category]
        counts[major_category] = data_cat["Total"].sum()

    return counts 
        
aa_cat_counts2 = cat_count(all_ages)
rg_cat_counts2 = cat_count(recent_grads)

print("all_ages :")
print(aa_cat_counts2)

print("\nrecent_grads :")
print(rg_cat_counts2)

all_ages :
{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1018072, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1013152, ' Physical Sciences': 12166, 'Psychology & Social Work': 1987278, '15726': 12607, 'Arts': 1805865, 'Business': 9858741}

recent_grads :
{'Engineering': 537583, 'Business': 1302376, 'Physical Sciences': 185479, 'Law & Public Policy': 179107, 'Computers & Mathematics': 299008, 'Agriculture & Natural Resources': 79981, 'Industrial Arts & Consumer Services': 229792, 'Arts': 357130, 'Health': 463230, 'Social Science': 529966, 'Biology & Life Science': 453862, 'Education': 559129, 'Humanities & Liberal Arts': 713468, 'Psychology & Social Work': 481007, 'Communications & Journalism': 392601, 'Interdisciplinary': 12296}

## Taux de jobs à faible salaire

- Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la proportion de jeunes diplômés qui ont du trouver des jobs à faible salaire (recent_grads).
    - Souvenez-vous que vous pouvez utiliser la méthode Series.sum() pour retourner la somme des valeurs d'une colonne
- Stocker le résultat dans la variable low_wage_proportion et afficher le.

In [64]:
low_wage_proportion = recent_grads["Low_wage_jobs"].sum() / recent_grads["Total"].sum()

print(" Taux de jobs à faible salaire :", round(low_wage_proportion*100,2),"%")

 Taux de jobs à faible salaire : 9.85 %

## Comparer des datasets

- Utiliser une boucle for pour parcourir toutes les majors.
    - Pour chaque Major et chaque DataFrame, filtrer seulement les lignes du DataFrame correspondant à cette major
    - Comparer les valeurs pour la colonne "Unemployment_rate" pour voir lequel des 2 DataFrames possèdent la valeur la plus basse
    - Incrémenter (cad ajouter 1) à la variable rg_lower_count si la valeur pour Unemployment_rate est plus petite dans le dataframe recent_grads que dans le dataframe all_ages
- Afficher le résultat rg_lower_count.

In [102]:
aa_majors = all_ages["Major"].unique()
rg_majors = recent_grads["Major"].unique()

rg_lower_count = 0

for major in aa_majors:
    if major in rg_majors :
        
        aa_major = all_ages[all_ages["Major"] == major]
        rg_major = recent_grads[recent_grads["Major"] == major]

        if rg_major.iloc[0]["Unemployment_rate"] < aa_major.iloc[0]["Unemployment_rate"] : rg_lower_count += 1

print(rg_lower_count)

42