## Conversion de chaines

### Liste à partir de chaine

In [1]:
s1 = "Du passé faisons table rase"
l1 = [i for i in s1]
l2 = s1.split("as")
l3 = s1.split() # séparateur par défaut = ' '

print(l1[0], l1[1], l1[2], l1[3])
print(l1)
print(l2)
print(l3)

D u   p
['D', 'u', ' ', 'p', 'a', 's', 's', 'é', ' ', 'f', 'a', 'i', 's', 'o', 'n', 's', ' ', 't', 'a', 'b', 'l', 'e', ' ', 'r', 'a', 's', 'e']
['Du p', 'sé faisons table r', 'e']
['Du', 'passé', 'faisons', 'table', 'rase']

### Chaine à partir de liste

In [3]:
l1 = ['H','e','l','l','o',' ','W','o','r','l','d']
s1 = "".join(l1)
s3 = " ".join(l3) # en premier vient le séparateur

print(s1)
print(s3)

Hello World
Du passé faisons table rase

### Rechercher et remplacer

In [4]:
s1 = "Faisons table rase"
s2 = s1[:8].lower() + s1[8:].upper()
print(s2)

faisons TABLE RASE

In [5]:
s1 = "Ce texte contient deux fois le mot texte."
print(s1.find("texte", 0))
print(s1.find("texte", 4))
print(s1.find("texte", 36))

3
35
-1

In [6]:
max = 0
while max > -1:
    max = s1.find("texte",max+1)
    print(max)

3
35
-1

In [7]:
# L'intéret est de pouvoir effectuer des substitutions

s1 = "Le prix est de deux euros."
if 'euros in s1':
    i = s1.index("euros")
    print(i)
    s2 = s1[:i-5] + '$' + s1[i-5:i]
    j = s2.find("deux")
    print(j)
    s3 = s2[:j] + "3" + s2[j+4:]

print(s3)

20
16
Le prix est de $3

In [8]:
# Méthode replace()

s1 = "Le prix est de deux euros"
s2 = s1.replace("deux euros","$3")
print(s2)

Le prix est de $3

In [13]:
# Méthode pour vérifier des ous-chaines 

s = "seulement 300 ?"
l = s.split()
print(l)
for mot in l:
    print("\n"+mot)
    if mot.isalpha():
        print("mot")
    if mot.isnumeric():
        print("nombre")
    if not mot.isalnum():
        print('not word nor num')

['seulement', '300', '?']

seulement
mot

300
nombre

?
not word nor num

## Expressions rationnelles

In [9]:
from re import findall

s = "Le PIB de l'Argentine baisse depuis 3 ans"

l1 = findall("[A-Z][a-z]+",s)
l2 = findall("[A-z]*[iI][A-z]*",s) # [a-zA-Z] = [A-Za-z] = [A-z]
print(l1)
print(l2)

['Le', 'Argentine']
['PIB', 'Argentine', 'baisse', 'depuis']

In [10]:
# Exemple 

motif = "0[1-9](?:[\s\.\-]?[0-9]{2}){4}"
n1 = "0678828383"
n2 = "09.34.67.12.11"
n3 = "03 11 23 20 38,"
n4 = "03 11 23 20,"
n5 = "03.11 23 2038"
n6 = "03-23-20-20-38"
s = n1+n2+n3+n4+n5+n6
print(findall(motif,s))

['0678828383', '09.34.67.12.11', '03 11 23 20 38', '03.11 23 2038', '03-23-20-20-38']

In [11]:
# Fonction sub() qui prend 3 arguments  : motif de recherche, une valeur de remplacement, la chaine à scanner

from re import sub

s = "Un texte <strong> HTML </strong> avec des balies"
s += " et même <script type ='text/javascript'>"
s += "var i= 5; </script> du javascript dedans."
s1 = sub("<[a-z]*>","", s)
print(s1)

Un texte  HTML </strong> avec des balies et même <script type ='text/javascript'>var i= 5; </script> du javascript dedans.

In [12]:
s1 = sub("<.*>", "", s)
s2 = sub("<[a-z\\/'=\s]*>","",s)
s3 = sub('<[^>]*>', "", s)
print(s1)
print(s2)
print(s3)

Un texte  du javascript dedans.
Un texte  HTML  avec des balies et même var i= 5;  du javascript dedans.
Un texte  HTML  avec des balies et même var i= 5;  du javascript dedans.