## La bibliothèque Pandas

On peut créer un dataframe à partir d'une array NumPy

In [4]:
import pandas as pd 
import numpy as np 

ar = np.array([[1.1,2,3.3,4],[2.7,10,5.4,7],[5.3,9,1.5,15]]) 
df = pd.DataFrame(ar, index=['a1','a2','a3'], columns = ['A','B','C','D'])
df

# Problème, avec un array toutes les valeurs doivent être de même type.

      A     B    C     D
a1  1.1   2.0  3.3   4.0
a2  2.7  10.0  5.4   7.0
a3  5.3   9.0  1.5  15.0