## Manipulation de données avec Pandas

- Importer la librairie Pandas
- Lire le fichier "food_info.csv" dans un dataframe food_info
- Ustiliser l'attribut Dataframe.columns suivi de la méthode index.tolist() pour retourner une liste dcontenant tous les noms de colonne de food_info.
- Assigner la liste résultante

In [2]:
import pandas as pd 

food_info = pd.read_csv("jeux_de_donnees/food_info.csv")
food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

## Transformer une colonne
- Diviser la colonne "Sodium_(mg)" par 1000 pour convertir les mg en g et assigner le résultat à la variable sodium_gram
- Mutliplier la colonne "Sugar_Tot_(g)" par 1000

In [8]:
sodium_gram = food_info["Sodium_(mg)"] / 1000
sugar_milligrams = food_info["Sugar_Tot_(g)"] * 1000

## Opérations mathématiques entre colonnes

- Diviser une colonne par une autre
- Additionner les colonnes entre elles
...

In [9]:
grams_of_prothein_per_gram_of_water = food_info["Protein_(g)"] / food_info["Water_(g)"]
milligrams_of_calcium_and_iron = food_info["Calcium_(mg)"] + food_info["Iron_(mg)"]

print(grams_of_prothein_per_gram_of_water)

0       0.053560
1       0.053560
2       1.166667
3       0.504598
4       0.565313
          ...
8613    0.430233
8614    0.292384
8615    0.000000
8616    0.203283
8617    0.252229
Length: 8618, dtype: float64

## Créer un indice nutritionnel

Score = 2 * (Protein(g)) - 0.75 * (Lipid Tot (g))

- Combinaison linéaire de plusieurs colonnes

In [12]:
rating = food_info["Protein_(g)"] * 2 - (.75 * food_info["Lipid_Tot_(g)"])

0      -59.1325
1      -59.1325
2      -74.0500
3       21.2450
4       24.2200
         ...
8613    18.1750
8614    40.4500
8615     0.0000
8616    31.1500
8617    39.2250
Length: 8618, dtype: float64

## Normaliser les colonnes
- Diviser une colonne par son max

In [13]:
normalized_protein = food_info["Protein_(g)"] / food_info["Protein_(g)"].max()
normalized_fat = food_info["Lipid_Tot_(g)"] / food_info["Lipid_Tot_(g)"].max()

In [14]:
print(normalized_fat)

0       0.8111
1       0.8111
2       0.9948
3       0.2874
4       0.2968
         ...
8613    0.2510
8614    0.0084
8615    0.0000
8616    0.0140
8617    0.0050
Name: Lipid_Tot_(g), Length: 8618, dtype: float64

## Créer une nouvelle colonne
- Assigner les précédents résultats à une nouvelle colonne

In [18]:
food_info["Norm_Protein"] = normalized_protein
food_info["Norm_Fat"] = normalized_fat

## Créer une colonne pour l'indice nutritionnel normalisé

In [20]:
food_info["Norm_Nutr_Index"] = 2 * food_info["Norm_Protein"] - 0.75 * food_info["Norm_Fat"]
food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Score,Norm_Protein,Norm_Fat,Norm_Nutr_Index
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,60.0,7.0,51.368,21.021,3.043,215.0,-59.1325,0.009624,0.8111,-0.589077
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,60.0,7.0,50.489,23.426,3.012,219.0,-59.1325,0.009624,0.8111,-0.589077
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,73.0,8.6,61.924,28.732,3.694,256.0,-74.0500,0.003170,0.9948,-0.739759
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,21.0,2.4,18.669,7.778,0.800,75.0,21.2450,0.242301,0.2874,0.269051
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,22.0,2.5,18.764,8.598,0.784,94.0,24.2200,0.263134,0.2968,0.303668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,...,1006.0,7.8,7.148,8.320,6.210,95.0,18.1750,0.209466,0.2510,0.230681
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,...,2.0,0.0,0.218,0.082,0.222,41.0,40.4500,0.232563,0.0084,0.458827
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,...,0.0,0.0,0.000,0.000,0.000,0.0,0.0000,0.000000,0.0000,0.000000
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,...,0.0,0.1,0.361,0.259,0.252,50.0,31.1500,0.182292,0.0140,0.354083
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,...,0.0,0.1,0.127,0.088,0.170,50.0,39.2250,0.224185,0.0050,0.444620

## Trier un DataFrame
- Remplacer le dataframe food_info en triant par rapport à la colonne Norm_Nutr_index de façon décroissante

In [23]:
food_info.sort_values("Norm_Nutr_Index", inplace=True, ascending=False) # inplace pour remplacer l'existant par celui trié

food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Score,Norm_Protein,Norm_Fat,Norm_Nutr_Index
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.0,...,0.0,0.0,0.066,0.101,0.258,0.0,176.2425,1.000000,0.0053,1.996025
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.0,...,0.0,0.0,0.070,0.060,0.010,0.0,171.1250,0.969203,0.0010,1.937656
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.0,...,0.0,0.0,0.147,0.173,0.070,20.0,168.9000,0.958220,0.0048,1.912840
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.0,...,0.0,0.0,0.000,0.000,0.000,0.0,164.7700,0.932971,0.0004,1.865642
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.0,...,NaN,NaN,0.600,1.330,0.370,NaN,163.4750,0.935236,0.0230,1.853221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,4646,OIL INDUSTRIAL COCNT,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,NaN,0.5,86.002,5.935,1.657,0.0,-75.0000,0.000000,1.0000,-0.750000
740,4645,OIL INDUS CANOLA (PART HYDROG) OIL FOR DEEP FA...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,NaN,71.3,10.117,71.075,14.038,0.0,-75.0000,0.000000,1.0000,-0.750000
739,4644,OIL INDUSTRIAL CANOLA FOR SALADS WOKS & LT FRYING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,NaN,71.3,7.758,61.150,26.397,0.0,-75.0000,0.000000,1.0000,-0.750000
738,4643,OIL INDUSTRIAL CANOLA W/ ANTIFOAMING AGENT,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,NaN,122.0,7.615,62.093,25.588,0.0,-75.0000,0.000000,1.0000,-0.750000
750,4656,OIL INDUSTRIAL PALM KERNEL CONFECTION FAT,0.05,884,0.00,100.00,0.01,0.00,0.0,0.0,...,NaN,24.7,87.558,5.406,0.834,0.0,-75.0000,0.000000,1.0000,-0.750000