## Tout sur les objets Series Pandas

Types de données d'un objet Series :

- Float
- Int
- Bool
- Datetime64[ns] : date et horaire sans time zone
- Datetime[ns, tz] : date et horaire avec time zone
- Timedelta[ns] : différence de date et horaire (seconde, minute...)
- Category : pour les variables catégorielles
- Object : chaine de caractère

Le fichier "fandango_score_comparison.csv" contient les notes critiques de films données par différentes plateforme, ainsi que la note moyenne des utilisateur sur ces plateformes.

- RT_norm correspond à la note moyenne des films sur Rotten Toamtoes normalisée de 0 à 5
- RT_user_norm corrrespond à la note moyenne des films données par les utilisateurs normalisée de 0 à 5

- lire le fichier "fandango_score_comparison.csv" dans un dataframe qu'on nommera fandango_score_comparison
- Afficher les 2 premières ligues

In [6]:
import pandas as pd 


fandango = pd.read_csv("jeux_de_donnees/fandango_score_comparison.csv")

fandango[0:2]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

## Indexage avec des entiers

- Sélectionner la colonne "FILM" et assigner la à la variable series_film puis afficher les 5 premières valeurs
- Faire de même avec la colonne "RottenTomatoes" et assigner la à la variable series_rt puis afficher les 5 premières valeurs

In [11]:
series_film = fandango["FILM"]
print(type(series_film),'\n')
print(series_film[0:5])

<class 'pandas.core.series.Series'>

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [13]:
series_rt = fandango["RottenTomatoes"]
print(type(series_rt),'\n')
print(series_rt[0:5])

<class 'pandas.core.series.Series'>

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

## Personnaliser son indexage

- Créer un objet Series qu'on nommera series_custom qui aura un indexe de chaines de caractères (basé sur le nom du film qu'on assignera à la variable film_names) et contiendra toutes notes RottenTomatoes de series_rt qu'on assignera à la variable re_score

    - Attention de bien utiliser des listes de valeurs pour nos 2 paramètres de la méthode Series()
    - Ne pas oublier d'importer l'objet series_custom

In [14]:
from pandas import Series

In [16]:
film_names = series_film.values
print(type(film_names))
rt_scores = series_rt.values
print(type(rt_scores))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [19]:
series_custom = Series(rt_scores, index=film_names)
print(type(series_custom),"\n")
print(series_custom)

<class 'pandas.core.series.Series'>

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64

In [20]:
series_custom[["Avengers: Age of Ultron (2015)","Gett: The Trial of Viviane Amsalem (2015)"]]

Avengers: Age of Ultron (2015)                74
Gett: The Trial of Viviane Amsalem (2015)    100
dtype: int64

## Réindexer un objet Series

- Créer la liste original_index contenant l'index actuel à partir de l'attribut index
- Tier cet index en utilisant la méthode sorted() et assigner le résultat à la variable sorted_index
- Puis appliquer la méthode reindex() à notre Series custom_series afin de réindexer selon l'index sorted_index
- Stocker le résultat dans la variable sorted_by_index
- Afficher

In [23]:
original_index = series_custom.index
sorted_index = sorted(original_index)
sorted_by_index = series_custom.reindex(sorted_index)

print(sorted_by_index)

'71 (2015)                          97
5 Flights Up (2015)                 52
A Little Chaos (2015)               40
A Most Violent Year (2014)          90
About Elly (2015)                   97
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 146, dtype: int64

## Trier un objet Series

- Trier la Series series_custom par index en utilisant la méthode sort_index() et assigner le résultat à la variable sc2.

- Trier la Series series_custom par par valeurs et assigner le résultat à la variable sc3.

- Afficher les 10 premières valeurs

In [26]:
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()
print(sc2[0:10],"\n")
print(sc3[0:10])

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

## Transformation de colonnes
- Normaliser la Series series_custom (échelle de notes de 0 à 100) pour obtenir une échelle de notes de 0 à 5 en divisant l'objet par 20.
- Assigner le nouvel objet Series à la variable series_normalized.
- Afficher le résultat.

## Comparer et filtrer
- Assigner à la variable criteria_one le critère des valeurs de series_custom supérieurs à 50.
- Assigner à la variable criteria_two le critère des valeurs de series_custom inférieurs à 75.
- Retourner un nouvel objet Series filtré qu'on nommera both_criteria qui contient seulement les valeurs pour lesquelles les 2 critères sont vrais.
- Afficher ce dernier résultat.

In [28]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75

criteria_one

Avengers: Age of Ultron (2015)                True
Cinderella (2015)                             True
Ant-Man (2015)                                True
Do You Believe? (2015)                       False
Hot Tub Time Machine 2 (2015)                False
                                             ...
Mr. Holmes (2015)                             True
'71 (2015)                                    True
Two Days, One Night (2014)                    True
Gett: The Trial of Viviane Amsalem (2015)     True
Kumiko, The Treasure Hunter (2015)            True
Length: 146, dtype: bool

In [29]:
both_criteria = series_custom[criteria_one & criteria_two]
both_criteria

Avengers: Age of Ultron (2015)                                            74
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
American Sniper (2015)                                                    72
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Big Eyes (2014)                                                           72
Maggie (2015)                                                             54
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Spare Parts (2015)                                                        52
dtype: int64

## Alignement des données
- Créer la Series rt_critics qui index les valeurs des notes de la colonne RottenTomatoes (notes des critiques) avec comme index le nom des films (colonne FILM).
- Créer la Series rt_users qui index les valeurs des notes de la colonne RottenTomatoes_User (note des utilisateurs) avec comme index le nom des films (colonne FILM).
- rt_critics et rt_users sont donc 2 objets Series contenant la moyenne des notes des critiques et des utilisateurs pour chaque film.
- Puisque chaque Series utilise le même index (correspondant aux noms des films), utiliser des opérations mathématiques pour retourner la moyenne des notes des critiques et des utilisateurs pour chaque film.
- Assigner la Series résultante à la variable rt_mean.
- Afficher le résultat.

In [31]:
rt_critics = Series(fandango["RottenTomatoes"].values, index=fandango["FILM"])
rt_users = Series(fandango["RottenTomatoes_User"].values, index=fandango["FILM"])

In [33]:
rt_mean = (rt_critics + rt_users) / 2
print(rt_mean)

FILM
Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64