## Tout sur les objets Series Pandas

Types de données d'un objet Series :

- Float
- Int
- Bool
- Datetime64[ns] : date et horaire sans time zone
- Datetime[ns, tz] : date et horaire avec time zone
- Timedelta[ns] : différence de date et horaire (seconde, minute...)
- Category : pour les variables catégorielles
- Object : chaine de caractère

Le fichier "fandango_score_comparison.csv" contient les notes critiques de films données par différentes plateforme, ainsi que la note moyenne des utilisateur sur ces plateformes.

- RT_norm correspond à la note moyenne des films sur Rotten Toamtoes normalisée de 0 à 5
- RT_user_norm corrrespond à la note moyenne des films données par les utilisateurs normalisée de 0 à 5

- lire le fichier "fandango_score_comparison.csv" dans un dataframe qu'on nommera fandango_score_comparison
- Afficher les 2 premières ligues

In [6]:
import pandas as pd 


fandango = pd.read_csv("jeux_de_donnees/fandango_score_comparison.csv")

fandango[0:2]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

## Indexage avec des entiers

- Sélectionner la colonne "FILM" et assigner la à la variable series_film puis afficher les 5 premières valeurs
- Faire de même avec la colonne "RottenTomatoes" et assigner la à la variable series_rt puis afficher les 5 premières valeurs

In [11]:
series_film = fandango["FILM"]
print(type(series_film),'\n')
print(series_film[0:5])

<class 'pandas.core.series.Series'>

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object