## Cours

### 1. Tuples

In [1]:
# Comme un liste mais immutable, on ne peut modifier, rajouter, supprimer un élément

mon_tuple = (1,"deux",3,4,5)
print(type(mon_tuple))
print(mon_tuple)

<class 'tuple'>
(1, 'deux', 3, 4, 5)

In [2]:
mon_tuple[0]

1

In [4]:
mon_tuple[2] = 2

TypeError: 'tuple' object does not support item assignment

In [6]:
# Assignation multiple

(a,b) = (1,2)
print(a,b)

a,b = (3,4)
print(a,b)

a = 7
print(a,b)

# On peut modifier la valeur de la variable mais on peut pas changer de variable

1 2
3 4
7 4

### 2. Dictionnaires

In [11]:
# Couples clé : valeur

notes_eleves = {
    "Anthony" : 15,
    "Marie" : 12,
    "Julien" : "absent",
    "Mohammad" : 9,
    "Brahiman" : 17
}

print(notes_eleves)

{'Anthony': 15, 'Marie': 12, 'Julien': 'absent', 'Mohammad': 9, 'Brahiman': 17}

In [12]:
# Permet d'accéder aux valeurs en donnant la clé
print(notes_eleves["Anthony"])

15

In [13]:
# Modifier un couple clé:valeur existant
notes_eleves["Julien"] = 14
print(notes_eleves)

{'Anthony': 15, 'Marie': 12, 'Julien': 14, 'Mohammad': 9, 'Brahiman': 17}

In [14]:
# Ajouter un nouveau couple clé:valeur
notes_eleves["Rafik"] = "Formateur"
print(notes_eleves)

{'Anthony': 15, 'Marie': 12, 'Julien': 14, 'Mohammad': 9, 'Brahiman': 17, 'Rafik': 'Formateur'}

In [15]:
# méthode .keys() qui retourne la liste des clés 
print(notes_eleves.keys())

dict_keys(['Anthony', 'Marie', 'Julien', 'Mohammad', 'Brahiman', 'Rafik'])

In [24]:
# itérer sur chaque élément soit par clés-valeur, soit juste par les clés, soit juste par les valeurs
print("Keys:")
for i in notes_eleves.keys():
    print(i)
print("\nValues:")
for i in notes_eleves.values():
    print(i)

Keys:
Anthony
Marie
Julien
Mohammad
Brahiman
Rafik

Values:
15
12
14
9
17
Formateur

In [26]:
# méthode .items() retourne uneliste et chacun des éléments de la liste est un tuple qui contient le couple clé valeur

print(notes_eleves.items())

dict_items([('Anthony', 15), ('Marie', 12), ('Julien', 14), ('Mohammad', 9), ('Brahiman', 17), ('Rafik', 'Formateur')])

In [28]:
for i,j in notes_eleves.items():
    print(i,j)

Anthony 15
Marie 12
Julien 14
Mohammad 9
Brahiman 17
Rafik Formateur

### 3. Fonctions

In [33]:
def PrixTTC(prixHT):
    TVA = 0.2
    return prixHT*(1+TVA)

prixHT1 = 18
prixHT2 = 21

TotalTTC = PrixTTC(prixHT1) + PrixTTC(prixHT2)
print(TotalTTC)

46.8

In [37]:
# Nommer les paramètres
def PrixTTC(prixHT,TVA):
    return prixHT*(1+TVA)

TotalTTC = PrixTTC(18,0.2) + PrixTTC(0.4,21)
print(TotalTTC)

TotalTTC = PrixTTC(prixHT=18,TVA=0.2) + PrixTTC(TVA=0.2,prixHT=21)
print(TotalTTC)

30.4
46.8

In [40]:
# Paramètres par défaut
def PrixTTC(prixHT,TVA=0.2):
    return prixHT*(1+TVA)

# Syntaxe utilisant la valeur par défaut
print(PrixTTC(prixHT=100))
print(PrixTTC(100))

# Syntaxe avec TVA de 10%
print(PrixTTC(prixHT=100,TVA=0.1))
print(PrixTTC(100,0.1))
print(PrixTTC(100,TVA=0.1))

120.0
120.0
110.00000000000001
110.00000000000001
110.00000000000001

In [41]:
# Passer et retourner un argument de type liste

def test(a):
    a[0] = 5
    a[1] = 8
    print("a :",a)
    return a

b = [1,2]
c = test(b)

print("b :",b)
print("c :",c)

a : [5, 8]
b : [5, 8]
c : [5, 8]

## Pratique

### 1. Calculer le minimum d'une liste

Écrivez une fonction qui reçoit une liste de taille quelconque et qui retourne le plus petit nombre contenu dans cette liste. Testez votre programme sur un exemple. On suppose que la liste n’est pas vide.

In [89]:

def minimum(liste):

    try:
        min = liste[0]
        for i in liste:
            if i<min:
                min = i
    except IndexError:
        return "Liste vide"

    return min

def minimum2(liste):

    try:
        liste.sort()
        min = liste[0]
    except IndexError:
        return "Liste vide"

    return min

print(minimum([1,2,3,4,5,6,7,8,9,10,-1]))
print(minimum([]))
print(minimum2([1,2,3,4,5,6,7,8,9,10,-1]))

-1
Liste vide
-1

### 2. Calculer la durée de remboursement d'un prêt

Vous voulez acheter un bien immobilier de 200 000 €. Une banque vous propose un taux d’intérêt de 1,2 % par an, soit 0,1 % par mois. Nous oublions les frais d’assurance et de gestion. La question est la suivante : en donnant le montant mensuel de vos remboursements, donnez la durée du prêt en mois et la somme totale des intérêts versés à la banque.

In [93]:
def pret(mensualite):

    montant = 200000
    tauxInterets = 1.2/(12*100)

    sommeInterets = 0
    duree = 0

    while montant > mensualite:

        # Calcul de l'interet pour ce mois
        interet = montant*tauxInterets

        # Calcul du montant du remboursement
        remboursement = mensualite - interet

        # Calcul du montant restant à rembourser
        montant -= remboursement

        # Calcul du prix total du pret (somme des interets)
        sommeInterets += interet

        duree+=1
        
    duree+=1
    return duree, sommeInterets

duree, sommeInterets = pret(1000)
print("Durée en mois :",duree)
print("Prix du prêt :",round(sommeInterets,2), "€")

Durée en mois : 224
Prix du prêt : 23254.94 €