In [87]:
import json
from sqlalchemy import create_engine
import pandas as pd 

with open("sql_credentials.json") as file:
    data = json.load(file)
    myUser = data["user"]
    myPassword = data["password"]
    myHost = data["host"]

def connect_db(user, password, host, bd):
    s = "mysql+pymysql://"
    s += user+":"+password+"@"+host+"/"+bd
    return create_engine(s)

survey = connect_db(myUser,myPassword,myHost,"survey")

data = pd.read_excel("jeux_donnees/Data_Professional_Salary_Survey_Responses_1.xlsx")

In [52]:
table_sondage = pd.read_sql_query("SELECT * FROM sondage", survey)
table_sondage["sdg_year"] = data["Survey Year"]
table_sondage.drop_duplicates(inplace=True)
table_sondage.to_sql('sondage', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from sondage", survey)

   sdg_id  sdg_year
0       1      2021
1       2      2020
2       3      2019
3       4      2018
4       5      2017

In [54]:
table_country = pd.read_sql_query("SELECT * FROM country", survey)
table_country[table_country.columns[1]] = data["Country"]
table_country.drop_duplicates(inplace=True)
table_country.to_sql('country', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from country", survey)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'PRIMARY'")
[SQL: INSERT INTO country (ctr_id, ctr_name) VALUES (%(ctr_id)s, %(ctr_name)s)]
[parameters: ({'ctr_id': 1, 'ctr_name': 'Sweden'}, {'ctr_id': 2, 'ctr_name': 'United States'}, {'ctr_id': 3, 'ctr_name': 'United States'}, {'ctr_id': 4, 'ctr_name': 'United Kingdom'}, {'ctr_id': 5, 'ctr_name': 'United States'}, {'ctr_id': 6, 'ctr_name': 'Pakistan'}, {'ctr_id': 7, 'ctr_name': 'United States'}, {'ctr_id': 8, 'ctr_name': 'United States'}  ... displaying 10 of 97 total bound parameter sets ...  {'ctr_id': 96, 'ctr_name': 'United States'}, {'ctr_id': 97, 'ctr_name': 'United States'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [55]:
pd.read_sql_query("select * from country", survey)

    ctr_id        ctr_name
0        1          Sweden
1        2   United States
2        3  United Kingdom
3        4        Pakistan
4        5        Paraguay
..     ...             ...
92      93         Albania
93      94         Bolivia
94      95         Vietnam
95      96         Bermuda
96      97           Kenya

[97 rows x 2 columns]

In [66]:
table_looking_job = pd.read_sql_query("SELECT * FROM looking_job", survey)
table_looking_job[table_looking_job.columns[1]] = data["LookingForAnotherJob"]
table_looking_job.drop_duplicates(inplace=True)

table_looking_job = table_looking_job[table_looking_job[table_looking_job.columns[1]] != "Not Asked"]

table_looking_job.to_sql('looking_job', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from looking_job", survey)

<ipython-input-66-90f81341a6b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_looking_job[table_looking_job.columns[1]] = data["LookingForAnotherJob"]
<ipython-input-66-90f81341a6b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_looking_job.drop_duplicates(inplace=True)

   look_id                                  look_job
0        1                                        No
1        2    Yes, but only passively (just curious)
2        3  Yes, actively looking for something else

In [69]:
table_education = pd.read_sql_query("SELECT * FROM education", survey)
table_education[table_education.columns[1]] = data["Education"]
table_education.drop_duplicates(inplace=True)

table_education = table_education[table_education[table_education.columns[1]] != "Not Asked"]

table_education.to_sql('education', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from education", survey)

   look_id                                  look_job
0        1                                        No
1        2    Yes, but only passively (just curious)
2        3  Yes, actively looking for something else

In [70]:
pd.read_sql_query("select * from education", survey)

   edu_id                   edu_title
0       1         Bachelors (4 years)
1       2  None (no degree completed)
2       3                     Masters
3       4        Associates (2 years)
4       5               Doctorate/PhD

In [82]:
table_largest_city = pd.read_sql_query("SELECT * FROM largest_city", survey)
table_largest_city[table_largest_city.columns[1]] = data["PopulationOfLargestCityWithin20Miles"]
table_largest_city.drop_duplicates(inplace=True)

table_largest_city = table_largest_city[table_largest_city[table_largest_city.columns[1]] != "Not Asked"]

table_largest_city.to_sql('largest_city', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from largest_city", survey)

   pop_id              pop_name
0       1      <= 20,000 (town)
1       2      1M+ (metropolis)
2       3  300K-1M (large city)
3       4      100K-299K (city)
4       5  20K-99K (large town)

In [83]:
table_how_many_companies = pd.read_sql_query("SELECT * FROM how_many_companies", survey)
table_how_many_companies[table_how_many_companies.columns[1]] = data["HowManyCompanies"]
table_how_many_companies.drop_duplicates(inplace=True)

table_how_many_companies = table_how_many_companies[table_how_many_companies[table_how_many_companies.columns[1]] != "Not Asked"]

table_how_many_companies.to_sql('how_many_companies', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from how_many_companies", survey)

   mcp_id                                 mcp_many_companies
0       1  1 (this is the only company where I've had thi...
1       2                                                  5
2       3                                                  4
3       4  2 (I worked at another similar position elsewh...
4       5                                                  3
5       6                                          6 or more

In [90]:
table_employment_status = pd.read_sql_query("SELECT * FROM employment_status", survey)
table_employment_status[table_employment_status.columns[1]] = data["EmploymentStatus"]
table_employment_status.drop_duplicates(inplace=True)

table_employment_status = table_employment_status[table_employment_status[table_employment_status.columns[1]] != "Not Asked"]

table_employment_status.to_sql('employment_status', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from employment_status", survey)

   emp_id                                         emp_status
0       1                                 Full time employee
1       2  Full time employee of a consulting/contracting...
2       3  Independent consultant, contractor, freelancer...
3       4                                          Part time
4       5         Independent or freelancer or company owner

In [92]:
column_employment_sector = pd.read_sql_query("select * from employment_sector", survey).columns
column_employment_sector

employment_sector = pd.DataFrame(columns = column_employment_sector)
employment_sector['sec_name'] = data['EmploymentSector']
employment_sector.drop_duplicates(inplace=True)

employment_sector.to_sql('employment_sector', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from employment_sector", survey)

   sec_id                               sec_name
0       1                       Private business
1       2  Education (K-12, college, university)
2       3              State/province government
3       4                       Local government
4       5                             Non-profit
5       6                     Federal government
6       7                                Student

In [98]:
column_certification = pd.read_sql_query("select * from certification limit 1", survey).columns
column_certification

data_certification_sans_asked = data[data["Certifications"] != "Not Asked"]
certification = pd.DataFrame(columns = column_certification)
certification['cert_name'] = data_certification_sans_asked['Certifications']
certification.drop_duplicates(inplace=True)

certification.to_sql('certification', if_exists='append', con=survey, index=False)

pd.read_sql_query("SELECT * FROM certification", survey)

   cert_id                         cert_name
0        1                  No, I never have
1        2  Yes, and they're currently valid
2        3             Yes, but they expired
3        4                  No, I never have
4        5  Yes, and they're currently valid
5        6             Yes, but they expired

In [104]:
table_career_plan = pd.read_sql_query("SELECT * FROM carreer_plan", survey)
table_career_plan[table_career_plan.columns[1]] = data["CareerPlansThisYear"]
table_career_plan.drop_duplicates(inplace=True)

table_career_plan = table_career_plan[table_career_plan[table_career_plan.columns[1]] != "Not Asked"]

table_career_plan.to_sql('carreer_plan', if_exists='append', con=survey, index=False)

pd.read_sql_query("select * from carreer_plan", survey)

   cap_id                                        cap_plan
0       1          Stay with the same employer, same role
1       2                               Prefer not to say
2       3                 Change both employers and roles
3       4   Stay with the same role, but change employers
4       5  Stay with the same employer,  but change roles