In [106]:
import pandas as pd

In [107]:
carac = pd.read_csv("donnees/caracteristiques-2019.csv", delimiter = ";")

In [108]:
carac

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200"
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000"
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744"
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502"
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,30,11,2019,09:00,1,69,69288,1,1,5,2,A43 13.029 A 15.971,"45,6666600","5,0561200"
58836,201900058837,27,11,2019,07:50,1,67,67482,1,1,8,4,Autoroute A.35,"48,5769000","7,7269000"
58837,201900058838,30,11,2019,02:41,4,94,94021,1,1,1,6,AUTOROUTE A6A,"48,7717000","2,3457600"
58838,201900058839,30,11,2019,15:20,1,78,78640,1,1,1,7,A86 EXT,"48,7772890","2,2237590"
58839,201900058840,29,11,2019,20:50,3,92,92047,1,1,1,2,A13,"48,8351236","2,1751101"

In [111]:
carac["year"] = carac["an"]
carac["month"] = carac["mois"]
carac["day"] = carac["jour"]
carac["date"] = pd.to_datetime(carac[["year", "month", "day"]])

In [112]:
carac

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,year,month,day,date
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200",2019,11,30,2019-11-30
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000",2019,11,30,2019-11-30
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744",2019,11,28,2019-11-28
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502",2019,11,30,2019-11-30
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540",2019,11,30,2019-11-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,30,11,2019,09:00,1,69,69288,1,1,5,2,A43 13.029 A 15.971,"45,6666600","5,0561200",2019,11,30,2019-11-30
58836,201900058837,27,11,2019,07:50,1,67,67482,1,1,8,4,Autoroute A.35,"48,5769000","7,7269000",2019,11,27,2019-11-27
58837,201900058838,30,11,2019,02:41,4,94,94021,1,1,1,6,AUTOROUTE A6A,"48,7717000","2,3457600",2019,11,30,2019-11-30
58838,201900058839,30,11,2019,15:20,1,78,78640,1,1,1,7,A86 EXT,"48,7772890","2,2237590",2019,11,30,2019-11-30
58839,201900058840,29,11,2019,20:50,3,92,92047,1,1,1,2,A13,"48,8351236","2,1751101",2019,11,29,2019-11-29

In [113]:
carac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58840 entries, 0 to 58839
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  58840 non-null  int64
 1   jour     58840 non-null  int64
 2   mois     58840 non-null  int64
 3   an       58840 non-null  int64
 4   hrmn     58840 non-null  object
 5   lum      58840 non-null  int64
 6   dep      58840 non-null  object
 7   com      58840 non-null  object
 8   agg      58840 non-null  int64
 9   int      58840 non-null  int64
 10  atm      58840 non-null  int64
 11  col      58840 non-null  int64
 12  adr      58413 non-null  object
 13  lat      58840 non-null  object
 14  long     58840 non-null  object
 15  year     58840 non-null  int64
 16  month    58840 non-null  int64
 17  day      58840 non-null  int64
 18  date     58840 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(12), object(6)
memory usage: 8.5+ MB

In [114]:
from datetime import date
import calendar
my_date = [i for i in carac["date"]]
#calendar.day_name[my_date.weekday()]

liste_day = []
for x in my_date: 
    liste_day.append(calendar.day_name[x.weekday()])

In [115]:
liste_day

['Saturday',
 'Saturday',
 'Thursday',
 'Saturday',
 'Saturday',
 'Thursday',
 'Thursday',
 'Friday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Wednesday',
 'Monday',
 'Saturday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Wednesday',
 'Friday',
 'Friday',
 'Wednesday',
 'Friday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Wednesday',
 'Thursday',
 'Saturday',
 'Friday',
 'Thursday',
 'Wednesday',
 'Tuesday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Sunday',
 'Friday',
 'Friday',
 'Friday',
 'Sunday',
 'Sunday',
 'Saturday',
 'Friday',
 'Thursday',
 'Friday',
 'Sunday',
 'Saturday',
 'Saturday',
 'Sunday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Friday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Wednesday',
 'Wednesday',
 'Tuesday',
 'Monday',
 'Thursday',
 'Monday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Wednesday',
 'Friday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Saturday',
 'Friday',
 'Thursday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Thursday',
 'Friday',
 'Wednesday',
 'Friday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Sunday',
 'Thursday',
 'Monday',
 'Friday',
 'Saturday',
 'Tuesday',
 'Friday',
 'Sunday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Thursday',
 'Saturday',
 'Tuesday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Sunday',
 'Saturday',
 'Saturday',
 'Monday',
 'Saturday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Sunday',
 'Monday',
 'Friday',
 'Friday',
 'Tuesday',
 'Friday',
 'Saturday',
 'Sunday',
 'Saturday',
 'Sunday',
 'Sunday',
 'Friday',
 'Wednesday',
 'Saturday',
 'Friday',
 'Friday',
 'Monday',
 'Monday',
 'Monday',
 'Saturday',
 'Monday',
 'Friday',
 'Wednesday',
 'Monday',
 'Thursday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Saturday',
 'Wednesday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Tuesday',
 'Sunday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Wednesday',
 'Thursday',
 'Sunday',
 'Friday',
 'Saturday',
 'Friday',
 'Wednesday',
 'Wednesday',
 'Friday',
 'Sunday',
 'Friday',
 'Friday',
 'Sunday',
 'Sunday',
 'Friday',
 'Sunday',
 'Wednesday',
 'Saturday',
 'Sunday',
 'Sunday',
 'Saturday',
 'Tuesday',
 'Saturday',
 'Sunday',
 'Sunday',
 'Friday',
 'Sunday',
 'Tuesday',
 'Saturday',
 'Saturday',
 'Friday',
 'Wednesday',
 'Thursday',
 'Tuesday',
 'Friday',
 'Sunday',
 'Thursday',
 'Wednesday',
 'Tuesday',
 'Sunday',
 'Friday',
 'Sunday',
 'Saturday',
 'Wednesday',
 'Friday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Sunday',
 'Saturday',
 'Saturday',
 'Monday',
 'Saturday',
 'Friday',
 'Tuesday',
 'Friday',
 'Monday',
 'Wednesday',
 'Wednesday',
 'Wednesday',
 'Friday',
 'Monday',
 'Friday',
 'Monday',
 'Tuesday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Sunday',
 'Monday',
 'Wednesday',
 'Sunday',
 'Wednesday',
 'Tuesday',
 'Tuesday',
 'Tuesday',
 'Monday',
 'Wednesday',
 'Thursday',
 'Sunday',
 'Saturday',
 'Friday',
 'Thursday',
 'Wednesday',
 'Tuesday',
 'Saturday',
 'Friday',
 'Monday',
 'Wednesday',
 'Wednesday',
 'Thursday',
 'Monday',
 'Wednesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Friday',
 'Tuesday',
 'Tuesday',
 'Monday',
 'Friday',
 'Saturday',
 'Friday',
 'Wednesday',
 'Tuesday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Monday',
 'Sunday',
 'Wednesday',
 'Tuesday',
 'Tuesday',
 'Monday',
 'Friday',
 'Wednesday',
 'Friday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Thursday',
 'Thursday',
 'Friday',
 'Monday',
 'Thursday',
 'Saturday',
 'Friday',
 'Tuesday',
 'Monday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Friday',
 'Thursday',
 'Wednesday',
 'Tuesday',
 'Monday',
 'Friday',
 'Friday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Tuesday',
 'Friday',
 'Wednesday',
 'Thursday',
 'Thursday',
 'Sunday',
 'Sunday',
 'Wednesday',
 'Wednesday',
 'Friday',
 'Friday',
 'Monday',
 'Friday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Wednesday',
 'Monday',
 'Wednesday',
 'Wednesday',
 'Wednesday',
 'Tuesday',
 'Friday',
 'Friday',
 'Friday',
 'Wednesday',
 'Monday',
 'Tuesday',
 'Sunday',
 'Saturday',
 'Saturday',
 'Friday',
 'Tuesday',
 'Friday',
 'Friday',
 'Thursday',
 'Tuesday',
 'Monday',
 'Sunday',
 'Friday',
 'Tuesday',
 'Tuesday',
 'Tuesday',
 'Tuesday',
 'Tuesday',
 'Friday',
 'Saturday',
 'Monday',
 'Saturday',
 'Saturday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Saturday',
 'Friday',
 'Saturday',
 'Thursday',
 'Monday',
 'Friday',
 'Sunday',
 'Saturday',
 'Tuesday',
 'Tuesday',
 'Saturday',
 'Friday',
 'Wednesday',
 'Sunday',
 'Thursday',
 'Thursday',
 'Monday',
 'Sunday',
 'Sunday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Friday',
 'Tuesday',
 'Wednesday',
 'Saturday',
 'Wednesday',
 'Tuesday',
 'Monday',
 'Monday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Saturday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Wednesday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Monday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Sunday',
 'Thursday',
 'Monday',
 'Thursday',
 'Thursday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Tuesday',
 'Tuesday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Thursday',
 'Friday',
 'Thursday',
 'Tuesday',
 'Friday',
 'Thursday',
 'Monday',
 'Friday',
 'Friday',
 'Sunday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Wednesday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Thursday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Monday',
 'Thursday',
 'Wednesday',
 'Friday',
 'Thursday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Wednesday',
 'Friday',
 'Friday',
 'Tuesday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Saturday',
 'Monday',
 'Friday',
 'Saturday',
 'Saturday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Friday',
 'Saturday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Tuesday',
 'Saturday',
 'Friday',
 'Friday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Friday',
 'Wednesday',
 'Friday',
 'Friday',
 'Saturday',
 'Saturday',
 'Friday',
 'Saturday',
 'Friday',
 'Tuesday',
 'Friday',
 'Friday',
 'Monday',
 'Tuesday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Wednesday',
 'Wednesday',
 'Wednesday',
 'Tuesday',
 'Tuesday',
 'Tuesday',
 'Thursday',
 'Wednesday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Thursday',
 'Wednesday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Thursday',
 'Monday',
 'Tuesday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Saturday',
 'Tuesday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Monday',
 'Thursday',
 'Thursday',
 'Friday',
 'Thursday',
 'Monday',
 'Thursday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Monday',
 'Friday',
 'Wednesday',
 'Thursday',
 'Thursday',
 'Friday',
 'Sunday',
 'Friday',
 'Friday',
 'Monday',
 'Thursday',
 'Friday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Friday',
 'Thursday',
 'Tuesday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Wednesday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Wednesday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Sunday',
 'Thursday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Thursday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Tuesday',
 'Friday',
 'Wednesday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Wednesday',
 'Wednesday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Wednesday',
 'Friday',
 'Friday',
 'Friday',
 'Sunday',
 'Monday',
 'Friday',
 'Friday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Friday',
 'Thursday',
 'Saturday',
 'Thursday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Saturday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Wednesday',
 'Friday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Saturday',
 'Thursday',
 'Saturday',
 'Friday',
 'Friday',
 'Saturday',
 'Friday',
 'Friday',
 'Thursday',
 'Thursday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Friday',
 'Thursday',
 'Wednesday',
 'Friday',
 'Tuesday',
 'Wednesday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Saturday',
 'Saturday',
 'Monday',
 'Wednesday',
 'Sunday',
 'Sunday',
 'Sunday',
 'Tuesday',
 'Tuesday',
 'Thursday',
 'Thursday',
 'Monday',
 'Monday',
 'Monday',
 'Thursday',
 'Friday',
 'Tuesday',
 'Friday',
 'Saturday',
 'Tuesday',
 'Thursday',
 'Wednesday',
 'Tuesday',
 'Sunday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Thursday',
 'Sunday',
 'Sunday',
 'Sunday',
 'Sunday',
 'Sunday',
 'Sunday',
 'Tuesday',
 'Saturday',
 'Friday',
 'Friday',
 'Wednesday',
 'Thursday',
 'Wednesday',
 'Wednesday',
 'Monday',
 'Friday',
 'Tuesday',
 'Wednesday',
 'Monday',
 'Thursday',
 'Wednesday',
 'Monday',
 'Friday',
 'Wednesday',
 'Friday',
 'Thursday',
 'Thursday',
 'Wednesday',
 'Tuesday',
 'Saturday',
 'Tuesday',
 'Tuesday',
 'Friday',
 'Sunday',
 'Tuesday',
 'Sunday',
 'Saturday',
 'Saturday',
 'Thursday',
 'Monday',
 'Sunday',
 'Sunday',
 'Monday',
 'Wednesday',
 'Saturday',
 ...]

In [116]:
len(liste_day)

58840

In [117]:
carac["journee"] = liste_day

In [118]:
carac

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,year,month,day,date,journee
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200",2019,11,30,2019-11-30,Saturday
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000",2019,11,30,2019-11-30,Saturday
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744",2019,11,28,2019-11-28,Thursday
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502",2019,11,30,2019-11-30,Saturday
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540",2019,11,30,2019-11-30,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,30,11,2019,09:00,1,69,69288,1,1,5,2,A43 13.029 A 15.971,"45,6666600","5,0561200",2019,11,30,2019-11-30,Saturday
58836,201900058837,27,11,2019,07:50,1,67,67482,1,1,8,4,Autoroute A.35,"48,5769000","7,7269000",2019,11,27,2019-11-27,Wednesday
58837,201900058838,30,11,2019,02:41,4,94,94021,1,1,1,6,AUTOROUTE A6A,"48,7717000","2,3457600",2019,11,30,2019-11-30,Saturday
58838,201900058839,30,11,2019,15:20,1,78,78640,1,1,1,7,A86 EXT,"48,7772890","2,2237590",2019,11,30,2019-11-30,Saturday
58839,201900058840,29,11,2019,20:50,3,92,92047,1,1,1,2,A13,"48,8351236","2,1751101",2019,11,29,2019-11-29,Friday

In [119]:
carac["hrmn"].value_counts()

18:00    784
17:30    692
18:30    676
17:00    672
16:00    615
        ...
01:31      1
00:13      1
20:41      1
03:53      1
03:22      1
Name: hrmn, Length: 1386, dtype: int64

In [120]:
carac["hrmn_new"] = pd.to_datetime(carac['hrmn'],format= '%H:%M' ).dt.time

In [121]:
carac

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,...,col,adr,lat,long,year,month,day,date,journee,hrmn_new
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,...,2,AUTOROUTE A3,"48,8962100","2,4701200",2019,11,30,2019-11-30,Saturday,01:30:00
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,...,6,AUTOROUTE A1,"48,9307000","2,3688000",2019,11,30,2019-11-30,Saturday,02:50:00
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,...,4,AUTOROUTE A86,"48,9358718","2,3191744",2019,11,28,2019-11-28,Thursday,15:15:00
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,...,4,A4,"48,8173295","2,4281502",2019,11,30,2019-11-30,Saturday,20:20:00
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,...,2,A86 INT,"48,7763620","2,4332540",2019,11,30,2019-11-30,Saturday,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,30,11,2019,09:00,1,69,69288,1,1,...,2,A43 13.029 A 15.971,"45,6666600","5,0561200",2019,11,30,2019-11-30,Saturday,09:00:00
58836,201900058837,27,11,2019,07:50,1,67,67482,1,1,...,4,Autoroute A.35,"48,5769000","7,7269000",2019,11,27,2019-11-27,Wednesday,07:50:00
58837,201900058838,30,11,2019,02:41,4,94,94021,1,1,...,6,AUTOROUTE A6A,"48,7717000","2,3457600",2019,11,30,2019-11-30,Saturday,02:41:00
58838,201900058839,30,11,2019,15:20,1,78,78640,1,1,...,7,A86 EXT,"48,7772890","2,2237590",2019,11,30,2019-11-30,Saturday,15:20:00
58839,201900058840,29,11,2019,20:50,3,92,92047,1,1,...,2,A13,"48,8351236","2,1751101",2019,11,29,2019-11-29,Friday,20:50:00

In [122]:
carac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58840 entries, 0 to 58839
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Num_Acc   58840 non-null  int64
 1   jour      58840 non-null  int64
 2   mois      58840 non-null  int64
 3   an        58840 non-null  int64
 4   hrmn      58840 non-null  object
 5   lum       58840 non-null  int64
 6   dep       58840 non-null  object
 7   com       58840 non-null  object
 8   agg       58840 non-null  int64
 9   int       58840 non-null  int64
 10  atm       58840 non-null  int64
 11  col       58840 non-null  int64
 12  adr       58413 non-null  object
 13  lat       58840 non-null  object
 14  long      58840 non-null  object
 15  year      58840 non-null  int64
 16  month     58840 non-null  int64
 17  day       58840 non-null  int64
 18  date      58840 non-null  datetime64[ns]
 19  journee   58840 non-null  object
 20  hrmn_new  58840 non-null  object
dtypes: datetime64[ns](1), int64(12), object(8)
memory usage: 9.4+ MB

In [123]:
from datetime import time
liste_time = []
for i in carac["hrmn_new"]:
    if  i <=  time(17,00) and i > time(8,00):
        liste_time.append(1)
    if i <= time(20,00)and i > time(17,00): 
        liste_time.append(2)
    if i <= time(23,59) and i > time(20,00): 
        liste_time.append(3)
    if i <= time(5,00) and i >= time(00,00): 
        liste_time.append(4)
    if i <= time(8,00) and i > time(5,00): 
        liste_time.append(5)

In [124]:
liste_time

[4,
 4,
 1,
 3,
 4,
 1,
 5,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 5,
 2,
 1,
 1,
 2,
 1,
 1,
 4,
 1,
 2,
 2,
 1,
 5,
 1,
 4,
 1,
 1,
 2,
 1,
 4,
 1,
 1,
 1,
 3,
 5,
 2,
 1,
 1,
 5,
 2,
 3,
 1,
 1,
 2,
 2,
 5,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 5,
 1,
 1,
 2,
 1,
 3,
 4,
 5,
 2,
 3,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 4,
 4,
 1,
 5,
 1,
 1,
 1,
 4,
 2,
 1,
 2,
 1,
 1,
 4,
 2,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 3,
 2,
 2,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 3,
 5,
 1,
 2,
 3,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 4,
 1,
 1,
 1,
 3,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 2,
 2,
 5,
 1,
 1,
 2,
 2,
 1,
 1,
 5,
 1,
 1,
 2,
 1,
 1,
 1,
 4,
 1,
 4,
 3,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 5,
 1,
 1,
 3,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 3,
 5,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 3,
 1,
 3,
 1,
 5,
 1,
 2,
 1,
 1,
 1,
 4,
 1,
 5,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 4,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 4,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 2,
 3,
 5,
 4,
 1,
 4,
 4,
 1,
 1,
 3,
 1,
 5,
 4,
 2,
 4,
 5,
 2,
 1,
 3,
 3,
 1,
 2,
 1,
 3,
 1,
 5,
 2,
 2,
 3,
 1,
 1,
 5,
 1,
 4,
 1,
 2,
 4,
 3,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 2,
 5,
 1,
 2,
 1,
 4,
 2,
 1,
 4,
 5,
 2,
 1,
 4,
 1,
 1,
 2,
 1,
 2,
 3,
 2,
 1,
 3,
 1,
 2,
 2,
 1,
 1,
 3,
 3,
 1,
 2,
 4,
 1,
 2,
 2,
 3,
 2,
 2,
 3,
 3,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 3,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 3,
 1,
 3,
 4,
 1,
 2,
 1,
 4,
 2,
 1,
 2,
 1,
 3,
 3,
 1,
 2,
 2,
 3,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 5,
 1,
 2,
 1,
 5,
 4,
 3,
 1,
 2,
 4,
 1,
 4,
 1,
 1,
 3,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 4,
 4,
 3,
 2,
 1,
 3,
 2,
 3,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 5,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 3,
 1,
 3,
 2,
 1,
 1,
 1,
 2,
 3,
 3,
 1,
 3,
 2,
 2,
 2,
 1,
 1,
 2,
 5,
 3,
 4,
 1,
 2,
 5,
 2,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 3,
 2,
 2,
 3,
 3,
 1,
 3,
 4,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 3,
 5,
 2,
 5,
 4,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 3,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 4,
 1,
 1,
 1,
 2,
 1,
 5,
 2,
 1,
 1,
 2,
 1,
 4,
 2,
 1,
 3,
 2,
 1,
 5,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 5,
 5,
 1,
 5,
 1,
 1,
 2,
 1,
 5,
 1,
 1,
 3,
 4,
 1,
 4,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 5,
 1,
 2,
 1,
 1,
 1,
 3,
 4,
 3,
 1,
 2,
 1,
 1,
 5,
 3,
 3,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 3,
 2,
 1,
 2,
 2,
 1,
 3,
 1,
 2,
 2,
 3,
 4,
 3,
 1,
 2,
 1,
 2,
 1,
 3,
 1,
 1,
 4,
 5,
 3,
 4,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 5,
 4,
 1,
 3,
 4,
 2,
 5,
 3,
 1,
 2,
 3,
 5,
 2,
 5,
 2,
 3,
 1,
 1,
 5,
 4,
 1,
 2,
 1,
 1,
 1,
 4,
 1,
 4,
 1,
 2,
 2,
 1,
 4,
 1,
 5,
 5,
 5,
 2,
 1,
 2,
 1,
 4,
 4,
 1,
 1,
 1,
 3,
 3,
 1,
 1,
 5,
 2,
 1,
 2,
 2,
 2,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 4,
 5,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 2,
 4,
 1,
 5,
 2,
 2,
 5,
 1,
 2,
 5,
 4,
 2,
 2,
 5,
 1,
 2,
 1,
 1,
 4,
 2,
 2,
 1,
 5,
 1,
 1,
 1,
 4,
 3,
 2,
 1,
 3,
 1,
 1,
 1,
 5,
 2,
 1,
 2,
 3,
 5,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 5,
 1,
 2,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 3,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 5,
 1,
 2,
 1,
 1,
 5,
 5,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 4,
 5,
 1,
 3,
 1,
 4,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 2,
 2,
 2,
 1,
 4,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 3,
 5,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 2,
 5,
 1,
 2,
 3,
 1,
 4,
 1,
 3,
 5,
 5,
 1,
 2,
 1,
 2,
 1,
 3,
 2,
 4,
 2,
 2,
 1,
 1,
 2,
 1,
 3,
 1,
 3,
 1,
 3,
 2,
 5,
 5,
 1,
 1,
 1,
 5,
 1,
 5,
 1,
 2,
 2,
 4,
 2,
 3,
 1,
 1,
 3,
 1,
 2,
 4,
 2,
 1,
 1,
 2,
 5,
 1,
 1,
 5,
 5,
 5,
 5,
 4,
 1,
 5,
 2,
 2,
 3,
 5,
 1,
 2,
 5,
 5,
 1,
 1,
 1,
 1,
 1,
 2,
 5,
 2,
 1,
 1,
 1,
 1,
 5,
 1,
 4,
 4,
 4,
 5,
 5,
 4,
 1,
 5,
 1,
 1,
 3,
 1,
 3,
 5,
 5,
 1,
 3,
 2,
 4,
 3,
 2,
 3,
 1,
 3,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 4,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 3,
 5,
 1,
 1,
 1,
 5,
 3,
 3,
 3,
 1,
 1,
 2,
 1,
 ...]

In [125]:
carac["hrmn"].shape

(58840,)

In [126]:
len(liste_time)

58840

In [127]:
df_time = pd.DataFrame(liste_time)

In [128]:
df_time.value_counts()

1    29167
2    13376
3     6847
5     5184
4     4266
dtype: int64

In [129]:
df_time.shape

(58840, 1)

In [130]:
carac["cat_time"] = df_time

In [131]:
carac

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,...,adr,lat,long,year,month,day,date,journee,hrmn_new,cat_time
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,...,AUTOROUTE A3,"48,8962100","2,4701200",2019,11,30,2019-11-30,Saturday,01:30:00,4
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,...,AUTOROUTE A1,"48,9307000","2,3688000",2019,11,30,2019-11-30,Saturday,02:50:00,4
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,...,AUTOROUTE A86,"48,9358718","2,3191744",2019,11,28,2019-11-28,Thursday,15:15:00,1
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,...,A4,"48,8173295","2,4281502",2019,11,30,2019-11-30,Saturday,20:20:00,3
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,...,A86 INT,"48,7763620","2,4332540",2019,11,30,2019-11-30,Saturday,04:00:00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,30,11,2019,09:00,1,69,69288,1,1,...,A43 13.029 A 15.971,"45,6666600","5,0561200",2019,11,30,2019-11-30,Saturday,09:00:00,1
58836,201900058837,27,11,2019,07:50,1,67,67482,1,1,...,Autoroute A.35,"48,5769000","7,7269000",2019,11,27,2019-11-27,Wednesday,07:50:00,5
58837,201900058838,30,11,2019,02:41,4,94,94021,1,1,...,AUTOROUTE A6A,"48,7717000","2,3457600",2019,11,30,2019-11-30,Saturday,02:41:00,4
58838,201900058839,30,11,2019,15:20,1,78,78640,1,1,...,A86 EXT,"48,7772890","2,2237590",2019,11,30,2019-11-30,Saturday,15:20:00,1
58839,201900058840,29,11,2019,20:50,3,92,92047,1,1,...,A13,"48,8351236","2,1751101",2019,11,29,2019-11-29,Friday,20:50:00,3

In [132]:
carac.columns

Index(['Num_Acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep', 'com', 'agg',
       'int', 'atm', 'col', 'adr', 'lat', 'long', 'year', 'month', 'day',
       'date', 'journee', 'hrmn_new', 'cat_time'],
      dtype='object')

In [133]:
rdata = carac[["Num_Acc", "lum", "dep", "agg", "atm", "date","cat_time", "journee"]]

In [134]:
rdata

            Num_Acc  lum dep  agg  atm       date  cat_time    journee
0      201900000001    4  93    1    1 2019-11-30         4   Saturday
1      201900000002    3  93    1    1 2019-11-30         4   Saturday
2      201900000003    1  92    1    1 2019-11-28         1   Thursday
3      201900000004    5  94    1    1 2019-11-30         3   Saturday
4      201900000005    3  94    1    1 2019-11-30         4   Saturday
...             ...  ...  ..  ...  ...        ...       ...        ...
58835  201900058836    1  69    1    5 2019-11-30         1   Saturday
58836  201900058837    1  67    1    8 2019-11-27         5  Wednesday
58837  201900058838    4  94    1    1 2019-11-30         4   Saturday
58838  201900058839    1  78    1    1 2019-11-30         1   Saturday
58839  201900058840    3  92    1    1 2019-11-29         3     Friday

[58840 rows x 8 columns]

In [135]:
rdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58840 entries, 0 to 58839
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Num_Acc   58840 non-null  int64
 1   lum       58840 non-null  int64
 2   dep       58840 non-null  object
 3   agg       58840 non-null  int64
 4   atm       58840 non-null  int64
 5   date      58840 non-null  datetime64[ns]
 6   cat_time  58840 non-null  int64
 7   journee   58840 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 3.6+ MB

In [136]:
rdata["dep"].value_counts()

75     5610
93     3130
13     2997
94     2681
69     2523
       ...
90       47
978      33
977      16
986      10
975       4
Name: dep, Length: 107, dtype: int64

In [137]:
### Correspondance acadÃ©mie dÃ©partement 

ZONES = {'A': ['03','15', '43', '63','07', '26', '38', '73', '74', '01', '42', '69', 
'25', '39', '70', '90', '21', '58', '71', '89', '24', '33', '40', '47', '64', '19',
'23', '87', '16', '17', '79', '86'], 
         'B': ['22','29','35','56', '18', '28', '36', '37', '41', '45', '54', '55', 
'57', '88', '08', '10','51', '52', '67', '68', '02', '60', '80', '59', '62', '14',
               '50', '61', '27', '76', '975', '44', '49', '53', '72', '85', '04', '05', '13', '84', '06', '83'],
         'C':['77', '93', '94', '75', '78', '91', '92', '95', '11', '30', '34',
'48', '66', '09', '12', '31', '32', '46', '65', '81', '82']} 


REGIONS = {
    'Auvergne-RhÃ´ne-Alpes': ['01', '03', '07', '15', '26', '38', '42', '43', '63', '69', '73', '74'],
    'Bourgogne-Franche-ComtÃ©': ['21', '25', '39', '58', '70', '71', '89', '90'],
    'Bretagne': ['35', '22', '56', '29'],
    'Centre-Val de Loire': ['18', '28', '36', '37', '41', '45'],
    'Corse': ['2A', '2B'],
    'Grand Est': ['08', '10', '51', '52', '54', '55', '57', '67', '68', '88'],
    'Guadeloupe': ['971'],
    'Guyane': ['973'],
    'Hauts-de-France': ['02', '59', '60', '62', '80'],
    'Ãle-de-France': ['75', '77', '78', '91', '92', '93', '94', '95'],
    'La RÃ©union': ['974'],
    'Martinique': ['972'],
    'Normandie': ['14', '27', '50', '61', '76'],
    'Nouvelle-Aquitaine': ['16', '17', '19', '23', '24', '33', '40', '47', '64', '79', '86', '87'],
    'Occitanie': ['09', '11', '12', '30', '31', '32', '34', '46', '48', '65', '66', '81', '82'],
    'Pays de la Loire': ['44', '49', '53', '72', '85'],
    'Provence-Alpes-CÃ´te d\'Azur': ['04', '05', '06', '13', '83', '84'],
}

DEPARTMENTS = {
    '01': 'Ain', 
    '02': 'Aisne', 
    '03': 'Allier', 
    '04': 'Alpes-de-Haute-Provence', 
    '05': 'Hautes-Alpes',
    '06': 'Alpes-Maritimes', 
    '07': 'ArdÃ¨che', 
    '08': 'Ardennes', 
    '09': 'AriÃ¨ge', 
    '10': 'Aube', 
    '11': 'Aude',
    '12': 'Aveyron', 
    '13': 'Bouches-du-RhÃ´ne', 
    '14': 'Calvados', 
    '15': 'Cantal', 
    '16': 'Charente',
    '17': 'Charente-Maritime', 
    '18': 'Cher', 
    '19': 'CorrÃ¨ze', 
    '2A': 'Corse-du-Sud', 
    '2B': 'Haute-Corse',
    '21': 'CÃ´te-d\'Or', 
    '22': 'CÃ´tes-d\'Armor', 
    '23': 'Creuse', 
    '24': 'Dordogne', 
    '25': 'Doubs', 
    '26': 'DrÃ´me',
    '27': 'Eure', 
    '28': 'Eure-et-Loir', 
    '29': 'FinistÃ¨re', 
    '30': 'Gard', 
    '31': 'Haute-Garonne', 
    '32': 'Gers',
    '33': 'Gironde', 
    '34': 'HÃ©rault', 
    '35': 'Ille-et-Vilaine', 
    '36': 'Indre', 
    '37': 'Indre-et-Loire',
    '38': 'IsÃ¨re', 
    '39': 'Jura', 
    '40': 'Landes', 
    '41': 'Loir-et-Cher', 
    '42': 'Loire', 
    '43': 'Haute-Loire',
    '44': 'Loire-Atlantique', 
    '45': 'Loiret', 
    '46': 'Lot', 
    '47': 'Lot-et-Garonne', 
    '48': 'LozÃ¨re',
    '49': 'Maine-et-Loire', 
    '50': 'Manche', 
    '51': 'Marne', 
    '52': 'Haute-Marne', 
    '53': 'Mayenne',
    '54': 'Meurthe-et-Moselle', 
    '55': 'Meuse', 
    '56': 'Morbihan', 
    '57': 'Moselle', 
    '58': 'NiÃ¨vre', 
    '59': 'Nord',
    '60': 'Oise', 
    '61': 'Orne', 
    '62': 'Pas-de-Calais', 
    '63': 'Puy-de-DÃ´me', 
    '64': 'PyrÃ©nÃ©es-Atlantiques',
    '65': 'Hautes-PyrÃ©nÃ©es', 
    '66': 'PyrÃ©nÃ©es-Orientales', 
    '67': 'Bas-Rhin', 
    '68': 'Haut-Rhin', 
    '69': 'RhÃ´ne',
    '70': 'Haute-SaÃ´ne', 
    '71': 'SaÃ´ne-et-Loire', 
    '72': 'Sarthe', 
    '73': 'Savoie', 
    '74': 'Haute-Savoie',
    '75': 'Paris', 
    '76': 'Seine-Maritime', 
    '77': 'Seine-et-Marne', 
    '78': 'Yvelines', 
    '79': 'Deux-SÃ¨vres',
    '80': 'Somme', 
    '81': 'Tarn', 
    '82': 'Tarn-et-Garonne', 
    '83': 'Var', 
    '84': 'Vaucluse', 
    '85': 'VendÃ©e',
    '86': 'Vienne', 
    '87': 'Haute-Vienne', 
    '88': 'Vosges', 
    '89': 'Yonne', 
    '90': 'Territoire de Belfort',
    '91': 'Essonne', 
    '92': 'Hauts-de-Seine', 
    '93': 'Seine-Saint-Denis', 
    '94': 'Val-de-Marne', 
    '95': 'Val-d\'Oise',
    '971': 'Guadeloupe', 
    '972': 'Martinique', 
    '973': 'Guyane', 
    '974': 'La RÃ©union', 
    '976': 'Mayotte',
}

In [138]:
zoneA = ['03','15', '43', '63','07', '26', '38', '73', '74', '01', '42', '69', '25', '39', '70', '90', '21', '58', '71', '89', '24', '33', '40', '47', '64', '19',
'23', '87', '16', '17', '79', '86'] 
zoneB =  ['22','29','35','56', '18', '28', '36', '37', '41', '45', '54', '55','57', '88', '08', '10','51', '52', '67', '68', '02', '60', '80', '59', '62', '14','50', '61', '27', '76', '975', '44', '49', '53', '72', '85', '04', '05', '13', '84', '06', '83']
zoneC = ['77', '93', '94', '75', '78', '91', '92', '95', '11', '30', '34','48', '66', '09', '12', '31', '32', '46', '65', '81', '82']
corse = ['2A', '2B']
guadeloupe = ['971', '977', '978']
martinique = ['972']
reunion = ['974']
mayotte = ['976']
wallis_futuna = ['986']
polynesie = ['987']
nouvelle_cal = ['988']
guyane = ['973']
zoneAUTRE = corse + guadeloupe + martinique + reunion + mayotte + wallis_futuna + polynesie + nouvelle_cal + guyane

In [139]:
len(zoneA)+ len(zoneB) + len(zoneC)

95

In [140]:
len(zoneA)+ len(zoneB) + len(zoneC) + len(zoneAUTRE)

107

In [141]:
rdata

            Num_Acc  lum dep  agg  atm       date  cat_time    journee
0      201900000001    4  93    1    1 2019-11-30         4   Saturday
1      201900000002    3  93    1    1 2019-11-30         4   Saturday
2      201900000003    1  92    1    1 2019-11-28         1   Thursday
3      201900000004    5  94    1    1 2019-11-30         3   Saturday
4      201900000005    3  94    1    1 2019-11-30         4   Saturday
...             ...  ...  ..  ...  ...        ...       ...        ...
58835  201900058836    1  69    1    5 2019-11-30         1   Saturday
58836  201900058837    1  67    1    8 2019-11-27         5  Wednesday
58837  201900058838    4  94    1    1 2019-11-30         4   Saturday
58838  201900058839    1  78    1    1 2019-11-30         1   Saturday
58839  201900058840    3  92    1    1 2019-11-29         3     Friday

[58840 rows x 8 columns]

In [142]:
rdata["dep"]

0        93
1        93
2        92
3        94
4        94
         ..
58835    69
58836    67
58837    94
58838    78
58839    92
Name: dep, Length: 58840, dtype: object

In [143]:
rdata.dtypes

Num_Acc              int64
lum                  int64
dep                 object
agg                  int64
atm                  int64
date        datetime64[ns]
cat_time             int64
journee             object
dtype: object

In [144]:
liste_zone = []
for i in rdata['dep']: 
    if dep in zoneA: 
        liste_zone.append("A")
    elif i in zoneB: 
        liste_zone.append("B")
    elif i in zoneC: 
        liste_zone.append("C")
    else: 
        liste_zone.append("AUTRE")

In [145]:
rdata['dep'].shape

(58840,)

In [146]:
liste_zone

['C',
 'C',
 'C',
 'C',
 'C',
 'A',
 'A',
 'A',
 'C',
 'B',
 'B',
 'C',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'A',
 'AUTRE',
 'A',
 'A',
 'A',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'C',
 'C',
 'A',
 'A',
 'B',
 'B',
 'C',
 'C',
 'C',
 'B',
 'B',
 'A',
 'A',
 'B',
 'C',
 'C',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'B',
 'B',
 'B',
 'B',
 'C',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'C',
 'C',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'B',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'C',
 'A',
 'B',
 'B',
 'B',
 'AUTRE',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'C',
 'C',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'A',
 'A',
 'AUTRE',
 'C',
 'C',
 'C',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'B',
 'B',
 'A',
 'B',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'C',
 'A',
 'A',
 'B',
 'AUTRE',
 'B',
 'B',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'A',
 'A',
 'A',
 'A',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'C',
 'AUTRE',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'C',
 'A',
 'A',
 'B',
 'AUTRE',
 'B',
 'A',
 'B',
 'C',
 'A',
 'B',
 'B',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'AUTRE',
 'C',
 'C',
 'C',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'AUTRE',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B',
 'AUTRE',
 'B',
 'B',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'A',
 'B',
 'A',
 'A',
 'A',
 'A',
 'AUTRE',
 'AUTRE',
 'A',
 'AUTRE',
 'A',
 'A',
 'C',
 'B',
 'B',
 'B',
 'B',
 'AUTRE',
 'AUTRE',
 'B',
 'A',
 'B',
 'A',
 'C',
 'B',
 'B',
 'B',
 'B',
 'C',
 'B',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B',
 'B',
 'A',
 'B',
 'B',
 'C',
 'AUTRE',
 'A',
 'B',
 'B',
 'B',
 'A',
 'AUTRE',
 'AUTRE',
 'B',
 'A',
 'B',
 'B',
 'A',
 'A',
 'C',
 'B',
 'B',
 'B',
 'B',
 'A',
 'B',
 'B',
 'B',
 'A',
 'A',
 'A',
 'B',
 'C',
 'AUTRE',
 'B',
 'B',
 'B',
 'AUTRE',
 'AUTRE',
 'A',
 'B',
 'C',
 'C',
 'B',
 'AUTRE',
 'A',
 'B',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'A',
 'C',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'C',
 'A',
 'B',
 'C',
 'A',
 'B',
 'C',
 'AUTRE',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'AUTRE',
 'AUTRE',
 'C',
 'B',
 'A',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'C',
 'A',
 'A',
 'B',
 'B',
 'B',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'A',
 'B',
 'B',
 'B',
 'B',
 'AUTRE',
 'B',
 'B',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'A',
 'B',
 'B',
 'C',
 'B',
 'A',
 'A',
 'B',
 'A',
 'AUTRE',
 'B',
 'B',
 'B',
 'A',
 'A',
 'A',
 'B',
 'B',
 'A',
 'C',
 'B',
 'B',
 'A',
 'AUTRE',
 'AUTRE',
 'B',
 'B',
 'C',
 'AUTRE',
 'AUTRE',
 'A',
 'A',
 'A',
 'A',
 'A',
 'AUTRE',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'A',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B',
 'A',
 'C',
 'C',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'AUTRE',
 'AUTRE',
 'C',
 'B',
 'C',
 'C',
 'A',
 'A',
 'A',
 'A',
 'A',
 'C',
 'C',
 'C',
 'B',
 'B',
 'AUTRE',
 'B',
 'C',
 'C',
 'B',
 'C',
 'C',
 'C',
 'AUTRE',
 'C',
 'B',
 'C',
 'C',
 'C',
 'C',
 'A',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B',
 'B',
 'A',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'AUTRE',
 'B',
 'B',
 'AUTRE',
 'B',
 'B',
 'A',
 'B',
 'A',
 'A',
 'C',
 'C',
 'C',
 'C',
 'B',
 'AUTRE',
 'AUTRE',
 'B',
 ...]

In [147]:
list_zone = pd.DataFrame(liste_zone)

In [148]:
list_zone.value_counts()

C        21634
B        18933
A        11872
AUTRE     6401
dtype: int64

In [149]:
list_zone.shape

(58840, 1)

In [150]:
rdata["zone"] = list_zone

<ipython-input-150-f945972152e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdata["zone"] = list_zone

In [151]:
rdata

            Num_Acc  lum dep  agg  atm       date  cat_time    journee zone
0      201900000001    4  93    1    1 2019-11-30         4   Saturday    C
1      201900000002    3  93    1    1 2019-11-30         4   Saturday    C
2      201900000003    1  92    1    1 2019-11-28         1   Thursday    C
3      201900000004    5  94    1    1 2019-11-30         3   Saturday    C
4      201900000005    3  94    1    1 2019-11-30         4   Saturday    C
...             ...  ...  ..  ...  ...        ...       ...        ...  ...
58835  201900058836    1  69    1    5 2019-11-30         1   Saturday    A
58836  201900058837    1  67    1    8 2019-11-27         5  Wednesday    B
58837  201900058838    4  94    1    1 2019-11-30         4   Saturday    C
58838  201900058839    1  78    1    1 2019-11-30         1   Saturday    C
58839  201900058840    3  92    1    1 2019-11-29         3     Friday    C

[58840 rows x 9 columns]

### DEUXIÃˆME FICHIER USAGERS

grav
GravitÃ© de blessure de l'usager, les usagers accidentÃ©s sont classÃ©s en trois catÃ©gories de
victimes plus les indemnes :
1 â€“ Indemne
2 â€“ BlessÃ© lÃ©ger
3 â€“ BlessÃ© hospitalisÃ©
4 â€“ TuÃ©

In [152]:
usagers = pd.read_csv("donnees/usagers-2019.csv", delimiter = ";")

In [153]:
usagers

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,201900000001,138Â 306Â 524,B01,2,2,4,2,2002,0,1,0,-1,-1,-1,-1
1,201900000001,138Â 306Â 524,B01,1,1,4,2,1993,5,1,0,-1,-1,-1,-1
2,201900000001,138Â 306Â 525,A01,1,1,1,1,1959,0,1,0,-1,-1,-1,-1
3,201900000002,138Â 306Â 523,A01,1,1,4,2,1994,0,1,0,-1,-1,-1,-1
4,201900000003,138Â 306Â 520,A01,1,1,1,1,1996,0,1,0,-1,-1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132972,201900058837,137Â 982Â 135,C01,1,1,4,2,1988,1,1,0,-1,-1,-1,-1
132973,201900058838,137Â 982Â 132,A01,1,1,4,1,1998,9,1,0,-1,-1,-1,-1
132974,201900058839,137Â 982Â 131,A01,1,1,3,1,1979,0,2,0,-1,-1,-1,-1
132975,201900058840,137Â 982Â 129,B01,1,1,4,1,1974,0,1,0,-1,-1,0,-1
132976,201900058840,137Â 982Â 130,A01,1,1,1,1,1971,0,1,-1,-1,0,0,-1

In [154]:
udata = usagers[["Num_Acc", 'grav']]

In [155]:
udata

             Num_Acc  grav
0       201900000001     4
1       201900000001     4
2       201900000001     1
3       201900000002     4
4       201900000003     1
...              ...   ...
132972  201900058837     4
132973  201900058838     4
132974  201900058839     3
132975  201900058840     4
132976  201900058840     1

[132977 rows x 2 columns]

In [156]:
udata["grav"][udata["grav"]==4]=6
udata["grav"][udata["grav"]==2]=4
udata["grav"][udata["grav"]==6]=2

/home/simplon/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:8861: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [157]:
udata

             Num_Acc  grav
0       201900000001     2
1       201900000001     2
2       201900000001     1
3       201900000002     2
4       201900000003     1
...              ...   ...
132972  201900058837     2
132973  201900058838     2
132974  201900058839     3
132975  201900058840     2
132976  201900058840     1

[132977 rows x 2 columns]

In [158]:
grav_moy = udata.groupby('Num_Acc', as_index=False)['grav'].mean()

In [159]:
grav_moy

            Num_Acc      grav
0      201900000001  1.666667
1      201900000002  2.000000
2      201900000003  1.500000
3      201900000004  1.250000
4      201900000005  1.333333
...             ...       ...
58835  201900058836  2.000000
58836  201900058837  1.666667
58837  201900058838  2.000000
58838  201900058839  3.000000
58839  201900058840  1.500000

[58840 rows x 2 columns]

In [160]:
rdata['grav_moy'] = grav_moy["grav"]

<ipython-input-160-af7186a9f27f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdata['grav_moy'] = grav_moy["grav"]

In [161]:
rdata

,Num_Acc,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy
0,201900000001,4,93,1,1,2019-11-30,4,Saturday,C,1.666667
1,201900000002,3,93,1,1,2019-11-30,4,Saturday,C,2.000000
2,201900000003,1,92,1,1,2019-11-28,1,Thursday,C,1.500000
3,201900000004,5,94,1,1,2019-11-30,3,Saturday,C,1.250000
4,201900000005,3,94,1,1,2019-11-30,4,Saturday,C,1.333333
...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,1,69,1,5,2019-11-30,1,Saturday,A,2.000000
58836,201900058837,1,67,1,8,2019-11-27,5,Wednesday,B,1.666667
58837,201900058838,4,94,1,1,2019-11-30,4,Saturday,C,2.000000
58838,201900058839,1,78,1,1,2019-11-30,1,Saturday,C,3.000000
58839,201900058840,3,92,1,1,2019-11-29,3,Friday,C,1.500000

In [162]:
list_date = []
for i in rdata["date"]: 
    list_date.append(i.strftime("%Y,%m,%d"))

In [163]:
list_date

['2019,11,30',
 '2019,11,30',
 '2019,11,28',
 '2019,11,30',
 '2019,11,30',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,27',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,27',
 '2019,11,25',
 '2019,11,30',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,27',
 '2019,11,29',
 '2019,11,22',
 '2019,11,06',
 '2019,11,29',
 '2019,11,28',
 '2019,11,27',
 '2019,11,27',
 '2019,11,27',
 '2019,11,28',
 '2019,11,30',
 '2019,11,29',
 '2019,11,28',
 '2019,11,27',
 '2019,11,26',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,24',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,09,22',
 '2019,09,22',
 '2019,09,21',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,01',
 '2019,09,21',
 '2019,09,21',
 '2019,09,22',
 '2019,09,21',
 '2019,09,21',
 '2019,09,21',
 '2019,09,21',
 '2019,09,20',
 '2019,09,21',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,19',
 '2019,09,18',
 '2019,09,18',
 '2019,09,18',
 '2019,09,18',
 '2019,09,17',
 '2019,09,16',
 '2019,09,12',
 '2019,09,02',
 '2019,09,20',
 '2019,07,25',
 '2019,09,20',
 '2019,09,20',
 '2019,09,18',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,18',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,18',
 '2019,09,21',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,18',
 '2019,09,13',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,02,15',
 '2019,02,14',
 '2019,02,17',
 '2019,02,14',
 '2019,02,18',
 '2019,02,15',
 '2019,02,16',
 '2019,01,15',
 '2019,02,15',
 '2019,02,17',
 '2019,02,16',
 '2019,02,16',
 '2019,02,15',
 '2019,02,15',
 '2019,02,16',
 '2019,02,16',
 '2019,02,16',
 '2019,02,16',
 '2019,02,15',
 '2019,02,15',
 '2019,02,14',
 '2019,02,16',
 '2019,02,12',
 '2019,02,16',
 '2019,02,16',
 '2019,02,15',
 '2019,02,15',
 '2019,02,15',
 '2019,02,15',
 '2019,02,16',
 '2019,02,17',
 '2019,02,16',
 '2019,02,16',
 '2019,02,18',
 '2019,02,16',
 '2019,02,15',
 '2019,02,16',
 '2019,02,15',
 '2019,02,15',
 '2019,02,14',
 '2019,02,15',
 '2019,02,15',
 '2019,02,15',
 '2019,02,17',
 '2019,02,18',
 '2019,02,15',
 '2019,02,15',
 '2019,02,12',
 '2019,02,15',
 '2019,02,16',
 '2019,02,17',
 '2019,02,09',
 '2019,02,17',
 '2019,02,17',
 '2019,02,15',
 '2019,02,13',
 '2019,02,16',
 '2019,02,15',
 '2019,02,15',
 '2019,02,18',
 '2019,02,18',
 '2019,02,18',
 '2019,02,16',
 '2019,02,18',
 '2019,02,15',
 '2019,02,13',
 '2019,02,18',
 '2019,02,14',
 '2019,02,16',
 '2019,02,16',
 '2019,02,15',
 '2019,02,15',
 '2019,02,16',
 '2019,02,13',
 '2019,02,16',
 '2019,02,16',
 '2019,02,16',
 '2019,02,16',
 '2019,02,12',
 '2019,02,17',
 '2019,02,15',
 '2019,05,30',
 '2019,05,23',
 '2019,05,10',
 '2019,04,19',
 '2019,05,29',
 '2019,05,23',
 '2019,05,26',
 '2019,05,03',
 '2019,05,25',
 '2019,05,10',
 '2019,05,08',
 '2019,05,29',
 '2019,04,19',
 '2019,05,05',
 '2019,05,17',
 '2019,05,17',
 '2019,04,28',
 '2019,05,12',
 '2019,04,26',
 '2019,04,28',
 '2019,05,01',
 '2019,05,11',
 '2019,05,19',
 '2019,05,19',
 '2019,05,04',
 '2019,05,14',
 '2019,05,11',
 '2019,05,26',
 '2019,05,19',
 '2019,04,12',
 '2019,04,28',
 '2019,02,26',
 '2019,05,18',
 '2019,05,04',
 '2019,05,24',
 '2019,05,15',
 '2019,05,09',
 '2019,05,07',
 '2019,05,17',
 '2019,05,26',
 '2019,05,16',
 '2019,05,22',
 '2019,05,14',
 '2019,05,12',
 '2019,05,17',
 '2019,05,12',
 '2019,05,11',
 '2019,04,24',
 '2019,05,03',
 '2019,05,25',
 '2019,05,18',
 '2019,05,04',
 '2019,05,19',
 '2019,04,13',
 '2019,05,11',
 '2019,05,20',
 '2019,05,04',
 '2019,05,24',
 '2019,05,14',
 '2019,05,03',
 '2019,05,06',
 '2019,05,29',
 '2019,05,22',
 '2019,05,29',
 '2019,05,31',
 '2019,05,06',
 '2019,05,24',
 '2019,05,27',
 '2019,05,28',
 '2019,05,19',
 '2019,05,30',
 '2019,05,14',
 '2019,05,05',
 '2019,05,06',
 '2019,05,29',
 '2019,05,12',
 '2019,08,14',
 '2019,08,13',
 '2019,08,13',
 '2019,08,13',
 '2019,08,12',
 '2019,08,14',
 '2019,08,15',
 '2019,08,11',
 '2019,08,17',
 '2019,08,16',
 '2019,08,15',
 '2019,08,14',
 '2019,08,13',
 '2019,08,17',
 '2019,08,16',
 '2019,08,12',
 '2019,08,14',
 '2019,08,14',
 '2019,08,15',
 '2019,08,12',
 '2019,08,14',
 '2019,08,14',
 '2019,08,15',
 '2019,08,16',
 '2019,08,16',
 '2019,08,13',
 '2019,08,13',
 '2019,08,05',
 '2019,07,26',
 '2019,07,27',
 '2019,08,16',
 '2019,08,14',
 '2019,08,13',
 '2019,08,10',
 '2019,08,10',
 '2019,08,09',
 '2019,08,16',
 '2019,08,16',
 '2019,08,16',
 '2019,08,16',
 '2019,08,15',
 '2019,08,12',
 '2019,08,11',
 '2019,08,14',
 '2019,08,13',
 '2019,08,13',
 '2019,08,12',
 '2019,08,09',
 '2019,08,14',
 '2019,08,16',
 '2019,08,17',
 '2019,08,17',
 '2019,08,17',
 '2019,08,15',
 '2019,08,15',
 '2019,08,16',
 '2019,08,12',
 '2019,08,15',
 '2019,08,17',
 '2019,08,16',
 '2019,08,13',
 '2019,08,12',
 '2019,08,17',
 '2019,08,17',
 '2019,08,17',
 '2019,08,16',
 '2019,08,15',
 '2019,08,14',
 '2019,08,13',
 '2019,08,12',
 '2019,08,16',
 '2019,08,16',
 '2019,08,15',
 '2019,08,14',
 '2019,08,14',
 '2019,08,13',
 '2019,06,14',
 '2019,06,12',
 '2019,06,13',
 '2019,06,13',
 '2019,06,09',
 '2019,06,02',
 '2019,06,19',
 '2019,06,12',
 '2019,06,07',
 '2019,06,07',
 '2019,06,03',
 '2019,06,07',
 '2019,06,13',
 '2019,06,13',
 '2019,06,12',
 '2019,06,12',
 '2019,06,12',
 '2019,06,10',
 '2019,06,05',
 '2019,06,19',
 '2019,06,19',
 '2019,06,18',
 '2019,06,14',
 '2019,06,14',
 '2019,06,07',
 '2019,06,05',
 '2019,06,17',
 '2019,06,11',
 '2019,06,09',
 '2019,06,15',
 '2019,06,08',
 '2019,06,07',
 '2019,06,04',
 '2019,05,24',
 '2019,06,14',
 '2019,06,13',
 '2019,06,11',
 '2019,06,10',
 '2019,06,09',
 '2019,06,07',
 '2019,06,04',
 '2019,06,18',
 '2019,06,04',
 '2019,06,04',
 '2019,06,04',
 '2019,05,31',
 '2019,06,01',
 '2019,06,17',
 '2019,06,15',
 '2019,06,15',
 '2019,06,13',
 '2019,06,12',
 '2019,06,12',
 '2019,06,08',
 '2019,06,07',
 '2019,06,15',
 '2019,06,13',
 '2019,06,10',
 '2019,06,07',
 '2019,06,02',
 '2019,06,01',
 '2019,06,18',
 '2019,06,18',
 '2019,06,15',
 '2019,06,14',
 '2019,06,12',
 '2019,06,09',
 '2019,06,06',
 '2019,06,06',
 '2019,06,03',
 '2019,06,02',
 '2019,06,16',
 '2019,06,15',
 '2019,06,15',
 '2019,06,15',
 '2019,06,14',
 '2019,06,11',
 '2019,06,05',
 '2019,06,01',
 '2019,06,19',
 '2019,06,18',
 '2019,06,17',
 '2019,06,17',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,23',
 '2019,10,12',
 '2019,10,24',
 '2019,10,24',
 '2019,10,23',
 '2019,10,23',
 '2019,10,23',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,23',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,23',
 '2019,10,21',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,23',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,10,23',
 '2019,10,23',
 '2019,07,07',
 '2019,10,24',
 '2019,10,21',
 '2019,10,24',
 '2019,10,24',
 '2019,10,25',
 '2019,10,24',
 '2019,10,18',
 '2019,10,25',
 '2019,10,25',
 '2019,10,24',
 '2019,10,24',
 '2019,10,25',
 '2019,10,24',
 '2019,10,24',
 '2019,10,24',
 '2019,03,05',
 '2019,10,22',
 '2019,10,25',
 '2019,10,25',
 '2019,10,25',
 '2019,10,24',
 '2019,10,11',
 '2019,10,25',
 '2019,10,24',
 '2019,10,24',
 '2019,10,25',
 '2019,10,24',
 '2019,10,25',
 '2019,10,24',
 '2019,10,22',
 '2019,10,25',
 '2019,10,24',
 '2019,10,21',
 '2019,10,25',
 '2019,10,25',
 '2019,10,20',
 '2019,10,25',
 '2019,10,25',
 '2019,10,25',
 '2019,10,24',
 '2019,10,24',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,30',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,27',
 '2019,11,29',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,28',
 '2019,03,11',
 '2019,04,11',
 '2019,11,27',
 '2019,11,29',
 '2019,11,28',
 '2019,11,29',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,27',
 '2019,11,29',
 '2019,11,29',
 '2019,11,26',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,30',
 '2019,11,29',
 '2019,11,08',
 '2019,11,29',
 '2019,11,30',
 '2019,11,30',
 '2019,11,25',
 '2019,11,29',
 '2019,11,30',
 '2019,11,30',
 '2019,11,29',
 '2019,11,30',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,30',
 '2019,11,30',
 '2019,11,30',
 '2019,11,29',
 '2019,11,30',
 '2019,11,29',
 '2019,11,30',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,30',
 '2019,11,26',
 '2019,11,30',
 '2019,11,29',
 '2019,11,29',
 '2019,11,30',
 '2019,11,30',
 '2019,11,30',
 '2019,11,30',
 '2019,11,30',
 '2019,11,29',
 '2019,11,27',
 '2019,11,29',
 '2019,11,29',
 '2019,11,30',
 '2019,11,30',
 '2019,11,29',
 '2019,11,30',
 '2019,11,29',
 '2019,11,26',
 '2019,11,29',
 '2019,11,29',
 '2019,11,25',
 '2019,11,26',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,27',
 '2019,11,27',
 '2019,11,27',
 '2019,11,26',
 '2019,11,26',
 '2019,11,26',
 '2019,11,28',
 '2019,11,27',
 '2019,11,28',
 '2019,11,27',
 '2019,11,27',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,27',
 '2019,11,28',
 '2019,11,28',
 '2019,11,27',
 '2019,11,28',
 '2019,11,27',
 '2019,11,28',
 '2019,11,27',
 '2019,11,27',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,28',
 '2019,11,27',
 '2019,11,28',
 '2019,11,29',
 '2019,11,28',
 '2019,11,25',
 '2019,11,26',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,08,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,23',
 '2019,10,22',
 '2019,11,28',
 '2019,11,21',
 '2019,11,28',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,29',
 '2019,11,25',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,28',
 '2019,11,25',
 '2019,11,21',
 '2019,11,29',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,11,25',
 '2019,11,29',
 '2019,11,27',
 '2019,11,28',
 '2019,11,28',
 '2019,11,29',
 '2019,09,01',
 '2019,09,20',
 '2019,09,20',
 '2019,09,16',
 '2019,09,19',
 '2019,09,20',
 '2019,09,18',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,17',
 '2019,09,19',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,18',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,18',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,18',
 '2019,09,15',
 '2019,09,19',
 '2019,09,18',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,19',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,20',
 '2019,09,03',
 '2019,09,20',
 '2019,09,18',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,18',
 '2019,09,18',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,18',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,08',
 '2019,09,16',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,21',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,14',
 '2019,09,01',
 '2019,09,09',
 '2019,09,20',
 '2019,08,22',
 '2019,09,21',
 '2019,09,19',
 '2019,09,21',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,20',
 '2019,09,14',
 '2019,09,21',
 '2019,09,21',
 '2019,09,21',
 '2019,09,21',
 '2019,09,13',
 '2019,09,20',
 '2019,09,20',
 '2019,08,03',
 '2019,09,18',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,08,09',
 '2019,09,21',
 '2019,09,19',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,21',
 '2019,09,20',
 '2019,09,20',
 '2019,09,19',
 '2019,09,19',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,09,20',
 '2019,08,08',
 '2019,12,11',
 '2019,04,12',
 '2019,09,10',
 '2019,08,14',
 '2019,12,21',
 '2019,09,01',
 '2019,12,12',
 '2019,08,10',
 '2019,12,21',
 '2019,03,18',
 '2019,11,13',
 '2019,04,14',
 '2019,12,22',
 '2019,12,01',
 '2019,10,08',
 '2019,01,29',
 '2019,12,26',
 '2019,12,19',
 '2019,12,30',
 '2019,12,09',
 '2019,12,23',
 '2019,08,08',
 '2019,08,02',
 '2019,07,23',
 '2019,12,20',
 '2019,12,28',
 '2019,08,20',
 '2019,09,26',
 '2019,11,27',
 '2019,10,15',
 '2019,09,22',
 '2019,11,03',
 '2019,10,14',
 '2019,12,31',
 '2019,12,05',
 '2019,01,27',
 '2019,05,12',
 '2019,12,01',
 '2019,06,30',
 '2019,12,15',
 '2019,02,10',
 '2019,12,10',
 '2019,06,08',
 '2019,09,06',
 '2019,12,20',
 '2019,03,20',
 '2019,01,24',
 '2019,02,13',
 '2019,02,06',
 '2019,02,04',
 '2019,02,01',
 '2019,01,22',
 '2019,01,09',
 '2019,11,25',
 '2019,12,05',
 '2019,06,05',
 '2019,03,04',
 '2019,01,04',
 '2019,01,02',
 '2019,01,04',
 '2019,01,03',
 '2019,01,03',
 '2019,10,30',
 '2019,12,31',
 '2019,12,07',
 '2019,11,26',
 '2019,01,01',
 '2019,12,06',
 '2019,12,15',
 '2019,12,24',
 '2019,10,13',
 '2019,12,21',
 '2019,12,28',
 '2019,12,26',
 '2019,12,23',
 '2019,02,17',
 '2019,02,17',
 '2019,02,11',
 '2019,02,13',
 '2019,02,16',
 ...]

In [164]:
new_list = []
for i in list_date: 
    new_list.append(i.split(","))

In [165]:
new_list

[['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '28'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '27'],
 ['2019', '11', '25'],
 ['2019', '11', '30'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '27'],
 ['2019', '11', '29'],
 ['2019', '11', '22'],
 ['2019', '11', '06'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '27'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '26'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '24'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '09', '22'],
 ['2019', '09', '22'],
 ['2019', '09', '21'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '01'],
 ['2019', '09', '21'],
 ['2019', '09', '21'],
 ['2019', '09', '22'],
 ['2019', '09', '21'],
 ['2019', '09', '21'],
 ['2019', '09', '21'],
 ['2019', '09', '21'],
 ['2019', '09', '20'],
 ['2019', '09', '21'],
 ['2019', '09', '21'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '21'],
 ['2019', '09', '19'],
 ['2019', '09', '18'],
 ['2019', '09', '18'],
 ['2019', '09', '18'],
 ['2019', '09', '18'],
 ['2019', '09', '17'],
 ['2019', '09', '16'],
 ['2019', '09', '12'],
 ['2019', '09', '02'],
 ['2019', '09', '20'],
 ['2019', '07', '25'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '18'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '18'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '18'],
 ['2019', '09', '21'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '18'],
 ['2019', '09', '13'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '02', '15'],
 ['2019', '02', '14'],
 ['2019', '02', '17'],
 ['2019', '02', '14'],
 ['2019', '02', '18'],
 ['2019', '02', '15'],
 ['2019', '02', '16'],
 ['2019', '01', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '17'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '14'],
 ['2019', '02', '16'],
 ['2019', '02', '12'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '16'],
 ['2019', '02', '17'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '18'],
 ['2019', '02', '16'],
 ['2019', '02', '15'],
 ['2019', '02', '16'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '14'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '17'],
 ['2019', '02', '18'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '12'],
 ['2019', '02', '15'],
 ['2019', '02', '16'],
 ['2019', '02', '17'],
 ['2019', '02', '09'],
 ['2019', '02', '17'],
 ['2019', '02', '17'],
 ['2019', '02', '15'],
 ['2019', '02', '13'],
 ['2019', '02', '16'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '18'],
 ['2019', '02', '18'],
 ['2019', '02', '18'],
 ['2019', '02', '16'],
 ['2019', '02', '18'],
 ['2019', '02', '15'],
 ['2019', '02', '13'],
 ['2019', '02', '18'],
 ['2019', '02', '14'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '15'],
 ['2019', '02', '15'],
 ['2019', '02', '16'],
 ['2019', '02', '13'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '16'],
 ['2019', '02', '12'],
 ['2019', '02', '17'],
 ['2019', '02', '15'],
 ['2019', '05', '30'],
 ['2019', '05', '23'],
 ['2019', '05', '10'],
 ['2019', '04', '19'],
 ['2019', '05', '29'],
 ['2019', '05', '23'],
 ['2019', '05', '26'],
 ['2019', '05', '03'],
 ['2019', '05', '25'],
 ['2019', '05', '10'],
 ['2019', '05', '08'],
 ['2019', '05', '29'],
 ['2019', '04', '19'],
 ['2019', '05', '05'],
 ['2019', '05', '17'],
 ['2019', '05', '17'],
 ['2019', '04', '28'],
 ['2019', '05', '12'],
 ['2019', '04', '26'],
 ['2019', '04', '28'],
 ['2019', '05', '01'],
 ['2019', '05', '11'],
 ['2019', '05', '19'],
 ['2019', '05', '19'],
 ['2019', '05', '04'],
 ['2019', '05', '14'],
 ['2019', '05', '11'],
 ['2019', '05', '26'],
 ['2019', '05', '19'],
 ['2019', '04', '12'],
 ['2019', '04', '28'],
 ['2019', '02', '26'],
 ['2019', '05', '18'],
 ['2019', '05', '04'],
 ['2019', '05', '24'],
 ['2019', '05', '15'],
 ['2019', '05', '09'],
 ['2019', '05', '07'],
 ['2019', '05', '17'],
 ['2019', '05', '26'],
 ['2019', '05', '16'],
 ['2019', '05', '22'],
 ['2019', '05', '14'],
 ['2019', '05', '12'],
 ['2019', '05', '17'],
 ['2019', '05', '12'],
 ['2019', '05', '11'],
 ['2019', '04', '24'],
 ['2019', '05', '03'],
 ['2019', '05', '25'],
 ['2019', '05', '18'],
 ['2019', '05', '04'],
 ['2019', '05', '19'],
 ['2019', '04', '13'],
 ['2019', '05', '11'],
 ['2019', '05', '20'],
 ['2019', '05', '04'],
 ['2019', '05', '24'],
 ['2019', '05', '14'],
 ['2019', '05', '03'],
 ['2019', '05', '06'],
 ['2019', '05', '29'],
 ['2019', '05', '22'],
 ['2019', '05', '29'],
 ['2019', '05', '31'],
 ['2019', '05', '06'],
 ['2019', '05', '24'],
 ['2019', '05', '27'],
 ['2019', '05', '28'],
 ['2019', '05', '19'],
 ['2019', '05', '30'],
 ['2019', '05', '14'],
 ['2019', '05', '05'],
 ['2019', '05', '06'],
 ['2019', '05', '29'],
 ['2019', '05', '12'],
 ['2019', '08', '14'],
 ['2019', '08', '13'],
 ['2019', '08', '13'],
 ['2019', '08', '13'],
 ['2019', '08', '12'],
 ['2019', '08', '14'],
 ['2019', '08', '15'],
 ['2019', '08', '11'],
 ['2019', '08', '17'],
 ['2019', '08', '16'],
 ['2019', '08', '15'],
 ['2019', '08', '14'],
 ['2019', '08', '13'],
 ['2019', '08', '17'],
 ['2019', '08', '16'],
 ['2019', '08', '12'],
 ['2019', '08', '14'],
 ['2019', '08', '14'],
 ['2019', '08', '15'],
 ['2019', '08', '12'],
 ['2019', '08', '14'],
 ['2019', '08', '14'],
 ['2019', '08', '15'],
 ['2019', '08', '16'],
 ['2019', '08', '16'],
 ['2019', '08', '13'],
 ['2019', '08', '13'],
 ['2019', '08', '05'],
 ['2019', '07', '26'],
 ['2019', '07', '27'],
 ['2019', '08', '16'],
 ['2019', '08', '14'],
 ['2019', '08', '13'],
 ['2019', '08', '10'],
 ['2019', '08', '10'],
 ['2019', '08', '09'],
 ['2019', '08', '16'],
 ['2019', '08', '16'],
 ['2019', '08', '16'],
 ['2019', '08', '16'],
 ['2019', '08', '15'],
 ['2019', '08', '12'],
 ['2019', '08', '11'],
 ['2019', '08', '14'],
 ['2019', '08', '13'],
 ['2019', '08', '13'],
 ['2019', '08', '12'],
 ['2019', '08', '09'],
 ['2019', '08', '14'],
 ['2019', '08', '16'],
 ['2019', '08', '17'],
 ['2019', '08', '17'],
 ['2019', '08', '17'],
 ['2019', '08', '15'],
 ['2019', '08', '15'],
 ['2019', '08', '16'],
 ['2019', '08', '12'],
 ['2019', '08', '15'],
 ['2019', '08', '17'],
 ['2019', '08', '16'],
 ['2019', '08', '13'],
 ['2019', '08', '12'],
 ['2019', '08', '17'],
 ['2019', '08', '17'],
 ['2019', '08', '17'],
 ['2019', '08', '16'],
 ['2019', '08', '15'],
 ['2019', '08', '14'],
 ['2019', '08', '13'],
 ['2019', '08', '12'],
 ['2019', '08', '16'],
 ['2019', '08', '16'],
 ['2019', '08', '15'],
 ['2019', '08', '14'],
 ['2019', '08', '14'],
 ['2019', '08', '13'],
 ['2019', '06', '14'],
 ['2019', '06', '12'],
 ['2019', '06', '13'],
 ['2019', '06', '13'],
 ['2019', '06', '09'],
 ['2019', '06', '02'],
 ['2019', '06', '19'],
 ['2019', '06', '12'],
 ['2019', '06', '07'],
 ['2019', '06', '07'],
 ['2019', '06', '03'],
 ['2019', '06', '07'],
 ['2019', '06', '13'],
 ['2019', '06', '13'],
 ['2019', '06', '12'],
 ['2019', '06', '12'],
 ['2019', '06', '12'],
 ['2019', '06', '10'],
 ['2019', '06', '05'],
 ['2019', '06', '19'],
 ['2019', '06', '19'],
 ['2019', '06', '18'],
 ['2019', '06', '14'],
 ['2019', '06', '14'],
 ['2019', '06', '07'],
 ['2019', '06', '05'],
 ['2019', '06', '17'],
 ['2019', '06', '11'],
 ['2019', '06', '09'],
 ['2019', '06', '15'],
 ['2019', '06', '08'],
 ['2019', '06', '07'],
 ['2019', '06', '04'],
 ['2019', '05', '24'],
 ['2019', '06', '14'],
 ['2019', '06', '13'],
 ['2019', '06', '11'],
 ['2019', '06', '10'],
 ['2019', '06', '09'],
 ['2019', '06', '07'],
 ['2019', '06', '04'],
 ['2019', '06', '18'],
 ['2019', '06', '04'],
 ['2019', '06', '04'],
 ['2019', '06', '04'],
 ['2019', '05', '31'],
 ['2019', '06', '01'],
 ['2019', '06', '17'],
 ['2019', '06', '15'],
 ['2019', '06', '15'],
 ['2019', '06', '13'],
 ['2019', '06', '12'],
 ['2019', '06', '12'],
 ['2019', '06', '08'],
 ['2019', '06', '07'],
 ['2019', '06', '15'],
 ['2019', '06', '13'],
 ['2019', '06', '10'],
 ['2019', '06', '07'],
 ['2019', '06', '02'],
 ['2019', '06', '01'],
 ['2019', '06', '18'],
 ['2019', '06', '18'],
 ['2019', '06', '15'],
 ['2019', '06', '14'],
 ['2019', '06', '12'],
 ['2019', '06', '09'],
 ['2019', '06', '06'],
 ['2019', '06', '06'],
 ['2019', '06', '03'],
 ['2019', '06', '02'],
 ['2019', '06', '16'],
 ['2019', '06', '15'],
 ['2019', '06', '15'],
 ['2019', '06', '15'],
 ['2019', '06', '14'],
 ['2019', '06', '11'],
 ['2019', '06', '05'],
 ['2019', '06', '01'],
 ['2019', '06', '19'],
 ['2019', '06', '18'],
 ['2019', '06', '17'],
 ['2019', '06', '17'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '23'],
 ['2019', '10', '12'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '23'],
 ['2019', '10', '23'],
 ['2019', '10', '23'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '23'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '23'],
 ['2019', '10', '21'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '23'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '23'],
 ['2019', '10', '23'],
 ['2019', '07', '07'],
 ['2019', '10', '24'],
 ['2019', '10', '21'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '18'],
 ['2019', '10', '25'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '03', '05'],
 ['2019', '10', '22'],
 ['2019', '10', '25'],
 ['2019', '10', '25'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '11'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '22'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '21'],
 ['2019', '10', '25'],
 ['2019', '10', '25'],
 ['2019', '10', '20'],
 ['2019', '10', '25'],
 ['2019', '10', '25'],
 ['2019', '10', '25'],
 ['2019', '10', '24'],
 ['2019', '10', '24'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '27'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '03', '11'],
 ['2019', '04', '11'],
 ['2019', '11', '27'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '27'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '26'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '08'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '25'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '26'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '27'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '30'],
 ['2019', '11', '29'],
 ['2019', '11', '26'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '25'],
 ['2019', '11', '26'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '27'],
 ['2019', '11', '27'],
 ['2019', '11', '27'],
 ['2019', '11', '26'],
 ['2019', '11', '26'],
 ['2019', '11', '26'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '25'],
 ['2019', '11', '26'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '08', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '23'],
 ['2019', '10', '22'],
 ['2019', '11', '28'],
 ['2019', '11', '21'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '29'],
 ['2019', '11', '25'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '25'],
 ['2019', '11', '21'],
 ['2019', '11', '29'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '11', '25'],
 ['2019', '11', '29'],
 ['2019', '11', '27'],
 ['2019', '11', '28'],
 ['2019', '11', '28'],
 ['2019', '11', '29'],
 ['2019', '09', '01'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '16'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '18'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '17'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '18'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '18'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '18'],
 ['2019', '09', '15'],
 ['2019', '09', '19'],
 ['2019', '09', '18'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '03'],
 ['2019', '09', '20'],
 ['2019', '09', '18'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '19'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '18'],
 ['2019', '09', '18'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '18'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '08'],
 ['2019', '09', '16'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '21'],
 ['2019', '09', '21'],
 ['2019', '09', '21'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '21'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '21'],
 ['2019', '09', '21'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '21'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '20'],
 ['2019', '09', '14'],
 ['2019', '09', '01'],

In [166]:
new_list_date = pd.DataFrame(new_list)

In [167]:
rdata["new_date"]= new_list

<ipython-input-167-3c3bd4a390d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdata["new_date"]= new_list

In [168]:
rdata

,Num_Acc,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy,new_date
0,201900000001,4,93,1,1,2019-11-30,4,Saturday,C,1.666667,"[2019, 11, 30]"
1,201900000002,3,93,1,1,2019-11-30,4,Saturday,C,2.000000,"[2019, 11, 30]"
2,201900000003,1,92,1,1,2019-11-28,1,Thursday,C,1.500000,"[2019, 11, 28]"
3,201900000004,5,94,1,1,2019-11-30,3,Saturday,C,1.250000,"[2019, 11, 30]"
4,201900000005,3,94,1,1,2019-11-30,4,Saturday,C,1.333333,"[2019, 11, 30]"
...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,1,69,1,5,2019-11-30,1,Saturday,A,2.000000,"[2019, 11, 30]"
58836,201900058837,1,67,1,8,2019-11-27,5,Wednesday,B,1.666667,"[2019, 11, 27]"
58837,201900058838,4,94,1,1,2019-11-30,4,Saturday,C,2.000000,"[2019, 11, 30]"
58838,201900058839,1,78,1,1,2019-11-30,1,Saturday,C,3.000000,"[2019, 11, 30]"
58839,201900058840,3,92,1,1,2019-11-29,3,Friday,C,1.500000,"[2019, 11, 29]"

In [169]:
rdata["year"] = rdata["new_date"].apply(lambda x: int(x[0]))
rdata["month"] = rdata["new_date"].apply(lambda y : int(y[1]))
rdata["day"] = rdata["new_date"].apply(lambda z: int(z[2]))

<ipython-input-169-f1d4b6922e2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdata["year"] = rdata["new_date"].apply(lambda x: int(x[0]))
<ipython-input-169-f1d4b6922e2d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdata["month"] = rdata["new_date"].apply(lambda y : int(y[1]))
<ipython-input-169-f1d4b6922e2d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdata["day"] = rdata["new_date"].apply(lambda z: int(z[2]))

In [170]:
rdata

,Num_Acc,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy,new_date,year,month,day
0,201900000001,4,93,1,1,2019-11-30,4,Saturday,C,1.666667,"[2019, 11, 30]",2019,11,30
1,201900000002,3,93,1,1,2019-11-30,4,Saturday,C,2.000000,"[2019, 11, 30]",2019,11,30
2,201900000003,1,92,1,1,2019-11-28,1,Thursday,C,1.500000,"[2019, 11, 28]",2019,11,28
3,201900000004,5,94,1,1,2019-11-30,3,Saturday,C,1.250000,"[2019, 11, 30]",2019,11,30
4,201900000005,3,94,1,1,2019-11-30,4,Saturday,C,1.333333,"[2019, 11, 30]",2019,11,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,1,69,1,5,2019-11-30,1,Saturday,A,2.000000,"[2019, 11, 30]",2019,11,30
58836,201900058837,1,67,1,8,2019-11-27,5,Wednesday,B,1.666667,"[2019, 11, 27]",2019,11,27
58837,201900058838,4,94,1,1,2019-11-30,4,Saturday,C,2.000000,"[2019, 11, 30]",2019,11,30
58838,201900058839,1,78,1,1,2019-11-30,1,Saturday,C,3.000000,"[2019, 11, 30]",2019,11,30
58839,201900058840,3,92,1,1,2019-11-29,3,Friday,C,1.500000,"[2019, 11, 29]",2019,11,29

In [171]:
# pip install vacances-scolaires-france

In [172]:
rdata["tuple"] = tuple(rdata["new_date"])

<ipython-input-172-9f0293c7005a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdata["tuple"] = tuple(rdata["new_date"])

In [173]:
rdata

,Num_Acc,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy,new_date,year,month,day,tuple
0,201900000001,4,93,1,1,2019-11-30,4,Saturday,C,1.666667,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]"
1,201900000002,3,93,1,1,2019-11-30,4,Saturday,C,2.000000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]"
2,201900000003,1,92,1,1,2019-11-28,1,Thursday,C,1.500000,"[2019, 11, 28]",2019,11,28,"[2019, 11, 28]"
3,201900000004,5,94,1,1,2019-11-30,3,Saturday,C,1.250000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]"
4,201900000005,3,94,1,1,2019-11-30,4,Saturday,C,1.333333,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,1,69,1,5,2019-11-30,1,Saturday,A,2.000000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]"
58836,201900058837,1,67,1,8,2019-11-27,5,Wednesday,B,1.666667,"[2019, 11, 27]",2019,11,27,"[2019, 11, 27]"
58837,201900058838,4,94,1,1,2019-11-30,4,Saturday,C,2.000000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]"
58838,201900058839,1,78,1,1,2019-11-30,1,Saturday,C,3.000000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]"
58839,201900058840,3,92,1,1,2019-11-29,3,Friday,C,1.500000,"[2019, 11, 29]",2019,11,29,"[2019, 11, 29]"

In [174]:
rdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58840 entries, 0 to 58839
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Num_Acc   58840 non-null  int64
 1   lum       58840 non-null  int64
 2   dep       58840 non-null  object
 3   agg       58840 non-null  int64
 4   atm       58840 non-null  int64
 5   date      58840 non-null  datetime64[ns]
 6   cat_time  58840 non-null  int64
 7   journee   58840 non-null  object
 8   zone      58840 non-null  object
 9   grav_moy  58840 non-null  float64
 10  new_date  58840 non-null  object
 11  year      58840 non-null  int64
 12  month     58840 non-null  int64
 13  day       58840 non-null  int64
 14  tuple     58840 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(8), object(5)
memory usage: 6.7+ MB

In [175]:
date = "18/06/2019"
date[0:2]
date[3:5]
date[6:10]

'2019'

In [176]:
from vacances_scolaires_france import SchoolHolidayDates
import datetime
d = SchoolHolidayDates()

list_vac = []
for i in range(rdata.shape[0]): 
    if rdata["zone"][i] != "AUTRE": 
        list_vac.append(d.is_holiday_for_zone(datetime.date(rdata["year"][i], rdata["month"][i], rdata["day"][i]), rdata["zone"][i]))
    else: 
        list_vac.append("AUTRE")

In [177]:
list_vac

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 False,
 'AUTRE',
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 False,
 False,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 'AUTRE',
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 False,
 True,
 False,
 True,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 'AUTRE',
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 'AUTRE',
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 'AUTRE',
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 'AUTRE',
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 'AUTRE',
 'AUTRE',
 True,
 'AUTRE',
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 'AUTRE',
 'AUTRE',
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 'AUTRE',
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 'AUTRE',
 'AUTRE',
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 'AUTRE',
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 'AUTRE',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 'AUTRE',
 True,
 False,
 'AUTRE',
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 'AUTRE',
 'AUTRE',
 True,
 ...]

In [178]:
rdata["vac"] = list_vac

<ipython-input-178-fb5416b87af7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdata["vac"] = list_vac

In [179]:
rdata

,Num_Acc,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy,new_date,year,month,day,tuple,vac
0,201900000001,4,93,1,1,2019-11-30,4,Saturday,C,1.666667,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]",False
1,201900000002,3,93,1,1,2019-11-30,4,Saturday,C,2.000000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]",False
2,201900000003,1,92,1,1,2019-11-28,1,Thursday,C,1.500000,"[2019, 11, 28]",2019,11,28,"[2019, 11, 28]",False
3,201900000004,5,94,1,1,2019-11-30,3,Saturday,C,1.250000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]",False
4,201900000005,3,94,1,1,2019-11-30,4,Saturday,C,1.333333,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,1,69,1,5,2019-11-30,1,Saturday,A,2.000000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]",False
58836,201900058837,1,67,1,8,2019-11-27,5,Wednesday,B,1.666667,"[2019, 11, 27]",2019,11,27,"[2019, 11, 27]",False
58837,201900058838,4,94,1,1,2019-11-30,4,Saturday,C,2.000000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]",False
58838,201900058839,1,78,1,1,2019-11-30,1,Saturday,C,3.000000,"[2019, 11, 30]",2019,11,30,"[2019, 11, 30]",False
58839,201900058840,3,92,1,1,2019-11-29,3,Friday,C,1.500000,"[2019, 11, 29]",2019,11,29,"[2019, 11, 29]",False

In [180]:
rdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58840 entries, 0 to 58839
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Num_Acc   58840 non-null  int64
 1   lum       58840 non-null  int64
 2   dep       58840 non-null  object
 3   agg       58840 non-null  int64
 4   atm       58840 non-null  int64
 5   date      58840 non-null  datetime64[ns]
 6   cat_time  58840 non-null  int64
 7   journee   58840 non-null  object
 8   zone      58840 non-null  object
 9   grav_moy  58840 non-null  float64
 10  new_date  58840 non-null  object
 11  year      58840 non-null  int64
 12  month     58840 non-null  int64
 13  day       58840 non-null  int64
 14  tuple     58840 non-null  object
 15  vac       58840 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(8), object(6)
memory usage: 7.2+ MB

In [181]:
vrai_data = rdata[["lum", "dep", "agg", "atm", "date", "cat_time", "journee", "zone", "grav_moy", "vac"]]

In [182]:
vrai_data

       lum dep  agg  atm       date  cat_time    journee zone  grav_moy    vac
0        4  93    1    1 2019-11-30         4   Saturday    C  1.666667  False
1        3  93    1    1 2019-11-30         4   Saturday    C  2.000000  False
2        1  92    1    1 2019-11-28         1   Thursday    C  1.500000  False
3        5  94    1    1 2019-11-30         3   Saturday    C  1.250000  False
4        3  94    1    1 2019-11-30         4   Saturday    C  1.333333  False
...    ...  ..  ...  ...        ...       ...        ...  ...       ...    ...
58835    1  69    1    5 2019-11-30         1   Saturday    A  2.000000  False
58836    1  67    1    8 2019-11-27         5  Wednesday    B  1.666667  False
58837    4  94    1    1 2019-11-30         4   Saturday    C  2.000000  False
58838    1  78    1    1 2019-11-30         1   Saturday    C  3.000000  False
58839    3  92    1    1 2019-11-29         3     Friday    C  1.500000  False

[58840 rows x 10 columns]

In [183]:
import matplotlib.pyplot as plt

In [184]:
import seaborn as sns

In [185]:
sns.pairplot(vrai_data)

KeyboardInterrupt:

In [187]:
import pandas as pd 
from scipy.stats import chi2_contingency 

table = pd.crosstab(vrai_data["cat_time"], vrai_data["grav_moy"])

resultats_test = chi2_contingency(table)

print("statistique de test :", resultats_test[0])
print("p_valeur : ", resultats_test[1])
print("degrÃ© de libertÃ© :", resultats_test[2])

statistique de test : 2144.7067042982244
p_valeur :  1.4448958716811748e-231
degrÃ© de libertÃ© : 412

In [188]:
import pandas as pd 
from scipy.stats import chi2_contingency 

table = pd.crosstab(vrai_data["atm"], vrai_data["grav_moy"])

resultats_test = chi2_contingency(table)

print("statistique de test :", resultats_test[0])
print("p_valeur : ", resultats_test[1])
print("degrÃ© de libertÃ© :", resultats_test[2])

statistique de test : 2533.092285517316
p_valeur :  4.173932340148732e-149
degrÃ© de libertÃ© : 927

In [189]:
import pandas as pd 
from scipy.stats import chi2_contingency 

table = pd.crosstab(vrai_data["lum"], vrai_data["grav_moy"])

resultats_test = chi2_contingency(table)

print("statistique de test :", resultats_test[0])
print("p_valeur : ", resultats_test[1])
print("degrÃ© de libertÃ© :", resultats_test[2])

statistique de test : 3079.8987042583994
p_valeur :  0.0
degrÃ© de libertÃ© : 412

In [191]:
import pandas as pd 
from scipy.stats import chi2_contingency 

table = pd.crosstab(vrai_data["vac"], vrai_data["grav_moy"])

resultats_test = chi2_contingency(table)

print("statistique de test :", resultats_test[0])
print("p_valeur : ", resultats_test[1])
print("degrÃ© de libertÃ© :", resultats_test[2])

statistique de test : 934.3576245612417
p_valeur :  3.2947500556598926e-93
degrÃ© de libertÃ© : 206

In [192]:
import pandas as pd 
from scipy.stats import chi2_contingency 

table = pd.crosstab(vrai_data["agg"], vrai_data["grav_moy"])

resultats_test = chi2_contingency(table)

print("statistique de test :", resultats_test[0])
print("p_valeur : ", resultats_test[1])
print("degrÃ© de libertÃ© :", resultats_test[2])

statistique de test : 6985.522411875818
p_valeur :  0.0
degrÃ© de libertÃ© : 103

In [193]:
#load necessary packages and functions
#import scipy.stats as stats
# import numpy as np

#create 2x2 table
#data = np.array(vrai_data["atm"], vrai_data["grav_moy"])

#Chi-squared test statistic, sample size, and minimum of rows and columns
#X2 = stats.chi2_contingency(data, correction=False)[0]
#n = np.sum(data)
#minDim = min(data.shape)-1

#calculate Cramer's V 
#V = np.sqrt((X2/n) / minDim)

#display Cramer's V
#print(V)

In [194]:
vrai_data

       lum dep  agg  atm       date  cat_time    journee zone  grav_moy    vac
0        4  93    1    1 2019-11-30         4   Saturday    C  1.666667  False
1        3  93    1    1 2019-11-30         4   Saturday    C  2.000000  False
2        1  92    1    1 2019-11-28         1   Thursday    C  1.500000  False
3        5  94    1    1 2019-11-30         3   Saturday    C  1.250000  False
4        3  94    1    1 2019-11-30         4   Saturday    C  1.333333  False
...    ...  ..  ...  ...        ...       ...        ...  ...       ...    ...
58835    1  69    1    5 2019-11-30         1   Saturday    A  2.000000  False
58836    1  67    1    8 2019-11-27         5  Wednesday    B  1.666667  False
58837    4  94    1    1 2019-11-30         4   Saturday    C  2.000000  False
58838    1  78    1    1 2019-11-30         1   Saturday    C  3.000000  False
58839    3  92    1    1 2019-11-29         3     Friday    C  1.500000  False

[58840 rows x 10 columns]

In [195]:
vrai_data = vrai_data[vrai_data["atm"]!=-1]

In [196]:
vrai_data

       lum dep  agg  atm       date  cat_time    journee zone  grav_moy    vac
0        4  93    1    1 2019-11-30         4   Saturday    C  1.666667  False
1        3  93    1    1 2019-11-30         4   Saturday    C  2.000000  False
2        1  92    1    1 2019-11-28         1   Thursday    C  1.500000  False
3        5  94    1    1 2019-11-30         3   Saturday    C  1.250000  False
4        3  94    1    1 2019-11-30         4   Saturday    C  1.333333  False
...    ...  ..  ...  ...        ...       ...        ...  ...       ...    ...
58835    1  69    1    5 2019-11-30         1   Saturday    A  2.000000  False
58836    1  67    1    8 2019-11-27         5  Wednesday    B  1.666667  False
58837    4  94    1    1 2019-11-30         4   Saturday    C  2.000000  False
58838    1  78    1    1 2019-11-30         1   Saturday    C  3.000000  False
58839    3  92    1    1 2019-11-29         3     Friday    C  1.500000  False

[58839 rows x 10 columns]

In [197]:
vrai_data["grav_moy"].value_counts

<bound method IndexOpsMixin.value_counts of 0        1.666667
1        2.000000
2        1.500000
3        1.250000
4        1.333333
           ...
58835    2.000000
58836    1.666667
58837    2.000000
58838    3.000000
58839    1.500000
Name: grav_moy, Length: 58839, dtype: float64>

In [199]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
import numpy as np
X = np.c_[vrai_data[["lum", "agg", "atm", "cat_time", "journee", "vac"]]]
y = np.array(vrai_data["grav_moy"])

In [200]:
import pandas as pd
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
import numpy as np

# model = make_pipeline(OneHotEncoder(),
                     #SGDRegressor(max_iter=1000, alpha = 0.001))

# all_auc = []

#skf = StratifiedKFold(n_splits=len(X))
# skf = StratifiedKFold(n_splits=5)

# for train_index, test_index in skf.split(X, y):
    
    #X_train, X_test = X[train_index], X[test_index]
    #y_train, y_test = y[train_index], y[test_index]
    
    #model.fit(X_train, y_train)
    #all_auc.append(accuracy_score(y_test, model.predict(X_test)))
    
#print(np.mean(all_auc))

In [203]:
import pandas as pd
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
import numpy as np

#model = make_pipeline(OneHotEncoder(),
#                   SGDClassifier(max_iter=1000, loss='log'))

#all_auc = []

#skf = StratifiedKFold(n_splits=len(X))
#skf = StratifiedKFold(n_splits=5)

#for train_index, test_index in skf.split(X, y):
    
 #   X_train, X_test = X[train_index], X[test_index]
  #  y_train, y_test = y[train_index], y[test_index]
    
   # model.fit(X_train, y_train)
    #all_auc.append(accuracy_score(y_test, model.predict(X_test)))
    
#print(np.mean(all_auc))

In [204]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

#X = np.c_[vrai_data[["lum", "agg", "atm", "cat_time", "journee", "vac"]]]
#y = y_train = np.array(vrai_data["grav_moy"])

#model = make_pipeline(OneHotEncoder(),
                     # SGDClassifier(max_iter=1000, loss='log'))

#ac_score = []

#kf = StratifiedKFold(n_splits= 200)
                
    
#skf = StratifiedKFold(n_splits=5)

#for train_index, test_index in kf.split(X, y):
    
 #   X_train, X_test = X[train_index], X[test_index]
  #  y_train, y_test = y[train_index], y[test_index]
    
   # model.fit(X_train, y_train)
    #ac_score.append(accuracy_score(y_test, model.predict(X_test)))
    
# print(np.mean(ac_score))

In [205]:
vrai_data

       lum dep  agg  atm       date  cat_time    journee zone  grav_moy    vac
0        4  93    1    1 2019-11-30         4   Saturday    C  1.666667  False
1        3  93    1    1 2019-11-30         4   Saturday    C  2.000000  False
2        1  92    1    1 2019-11-28         1   Thursday    C  1.500000  False
3        5  94    1    1 2019-11-30         3   Saturday    C  1.250000  False
4        3  94    1    1 2019-11-30         4   Saturday    C  1.333333  False
...    ...  ..  ...  ...        ...       ...        ...  ...       ...    ...
58835    1  69    1    5 2019-11-30         1   Saturday    A  2.000000  False
58836    1  67    1    8 2019-11-27         5  Wednesday    B  1.666667  False
58837    4  94    1    1 2019-11-30         4   Saturday    C  2.000000  False
58838    1  78    1    1 2019-11-30         1   Saturday    C  3.000000  False
58839    3  92    1    1 2019-11-29         3     Friday    C  1.500000  False

[58839 rows x 10 columns]

In [206]:
vrai_data.to_csv("grav_moy.csv")

In [207]:
vrai_data["grav_moy"].max()

4.0

In [208]:
list_grav_class = []
for i in vrai_data["grav_moy"]: 
    if i <= 1 and i > 0: 
        list_grav_class.append(1)
    elif i <= 2 and i >1: 
        list_grav_class.append(2)
    elif i <= 3 and i >2: 
        list_grav_class.append(3)
    elif i < 4 and i >3: 
        list_grav_class.append(4)
    elif i < 5 and i >= 4: 
        list_grav_class.append(5)

In [209]:
list_grav_class

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 4,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 5,
 2,
 2,
 2,
 3,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 3,
 2,
 2,
 5,
 2,
 2,
 3,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 3,
 3,
 2,
 3,
 2,
 3,
 2,
 3,
 3,
 2,
 2,
 4,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 2,
 3,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 3,
 2,
 3,
 3,
 2,
 4,
 3,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 2,
 3,
 2,
 2,
 3,
 2,
 2,
 2,
 3,
 2,
 5,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 5,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 5,
 3,
 3,
 3,
 3,
 2,
 3,
 2,
 2,
 2,
 3,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 3,
 2,
 3,
 5,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 3,
 2,
 3,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 2,
 3,
 5,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 4,
 2,
 3,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 3,
 2,
 2,
 3,
 2,
 3,
 2,
 3,
 3,
 4,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 5,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 2,
 2,
 3,
 2,
 2,
 2,
 5,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 2,
 3,
 2,
 3,
 3,
 2,
 3,
 3,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 3,
 5,
 2,
 2,
 2,
 3,
 2,
 5,
 3,
 3,
 3,
 2,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 3,
 5,
 2,
 2,
 3,
 5,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 2,
 3,
 3,
 2,
 2,
 5,
 3,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 3,
 5,
 2,
 5,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 5,
 3,
 2,
 2,
 5,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 ...]

In [210]:
liste_test = pd.DataFrame(list_grav_class)

In [211]:
liste_test

       0
0      2
1      2
2      2
3      2
4      2
...   ..
58834  2
58835  2
58836  2
58837  3
58838  2

[58839 rows x 1 columns]

In [212]:
liste_test

       0
0      2
1      2
2      2
3      2
4      2
...   ..
58834  2
58835  2
58836  2
58837  3
58838  2

[58839 rows x 1 columns]

In [213]:
vrai_data.reset_index(inplace=True)

In [214]:
vrai_data

,index,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy,vac
0,0,4,93,1,1,2019-11-30,4,Saturday,C,1.666667,False
1,1,3,93,1,1,2019-11-30,4,Saturday,C,2.000000,False
2,2,1,92,1,1,2019-11-28,1,Thursday,C,1.500000,False
3,3,5,94,1,1,2019-11-30,3,Saturday,C,1.250000,False
4,4,3,94,1,1,2019-11-30,4,Saturday,C,1.333333,False
...,...,...,...,...,...,...,...,...,...,...,...
58834,58835,1,69,1,5,2019-11-30,1,Saturday,A,2.000000,False
58835,58836,1,67,1,8,2019-11-27,5,Wednesday,B,1.666667,False
58836,58837,4,94,1,1,2019-11-30,4,Saturday,C,2.000000,False
58837,58838,1,78,1,1,2019-11-30,1,Saturday,C,3.000000,False
58838,58839,3,92,1,1,2019-11-29,3,Friday,C,1.500000,False

In [215]:
vrai_data["grav_class"] = liste_test

<ipython-input-215-741704f6ccf0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vrai_data["grav_class"] = liste_test

In [216]:
vrai_data

,index,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy,vac,grav_class
0,0,4,93,1,1,2019-11-30,4,Saturday,C,1.666667,False,2
1,1,3,93,1,1,2019-11-30,4,Saturday,C,2.000000,False,2
2,2,1,92,1,1,2019-11-28,1,Thursday,C,1.500000,False,2
3,3,5,94,1,1,2019-11-30,3,Saturday,C,1.250000,False,2
4,4,3,94,1,1,2019-11-30,4,Saturday,C,1.333333,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...
58834,58835,1,69,1,5,2019-11-30,1,Saturday,A,2.000000,False,2
58835,58836,1,67,1,8,2019-11-27,5,Wednesday,B,1.666667,False,2
58836,58837,4,94,1,1,2019-11-30,4,Saturday,C,2.000000,False,2
58837,58838,1,78,1,1,2019-11-30,1,Saturday,C,3.000000,False,3
58838,58839,3,92,1,1,2019-11-29,3,Friday,C,1.500000,False,2

In [217]:
vrai_data["cat_time"].value_counts()

1    29166
2    13376
3     6847
5     5184
4     4266
Name: cat_time, dtype: int64

In [218]:
vrai_data["grav_class"].value_counts()

2    48703
3     8774
5     1054
4      308
Name: grav_class, dtype: int64

In [219]:
vrai_data["vac"] = vrai_data["vac"].astype(str)

<ipython-input-219-b09ad09061f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vrai_data["vac"] = vrai_data["vac"].astype(str)

In [220]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

X = np.c_[vrai_data[["lum", "agg", "atm", "cat_time", "journee", "vac"]]]
y = y_train = np.array(vrai_data["grav_class"])

model = make_pipeline(OneHotEncoder(),
                     SGDClassifier(max_iter=1000, loss='log'))

ac_score = []

kf = StratifiedKFold(n_splits= 200)
                
    
#skf = StratifiedKFold(n_splits=5)

for train_index, test_index in kf.split(X, y):
    
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    model.fit(X_train, y_train)
    ac_score.append(accuracy_score(y_test, model.predict(X_test)))
    
print(np.mean(ac_score))

KeyboardInterrupt:

In [ ]:
vrai_data

,level_0,index,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy,vac,grav_class
0,0,0,4,93,1,1,2019-11-30,4,Saturday,C,1.666667,False,2
1,1,1,3,93,1,1,2019-11-30,4,Saturday,C,2.000000,False,2
2,2,2,1,92,1,1,2019-11-28,1,Thursday,C,1.500000,False,2
3,3,3,5,94,1,1,2019-11-30,3,Saturday,C,1.250000,False,2
4,4,4,3,94,1,1,2019-11-30,4,Saturday,C,1.333333,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58834,58834,58835,1,69,1,5,2019-11-30,1,Saturday,A,2.000000,False,2
58835,58835,58836,1,67,1,8,2019-11-27,5,Wednesday,B,1.666667,False,2
58836,58836,58837,4,94,1,1,2019-11-30,4,Saturday,C,2.000000,False,2
58837,58837,58838,1,78,1,1,2019-11-30,1,Saturday,C,3.000000,False,3
58838,58838,58839,3,92,1,1,2019-11-29,3,Friday,C,1.500000,False,2

In [ ]:
vrai_data.to_csv("grav_class.csv")

In [ ]:
### SVM

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score

In [ ]:

cat_attribs = ["lum", "agg", "atm", "cat_time", "journee", "vac"]

cat_attribs2 = ["lum", "atm", "cat_time", "journee", "vac"]

cat_attribs3 = ["lum", "atm", "agg", "journee", "vac"]

cat_attribs4 = ["agg"]

full_pipeline2 = ColumnTransformer([
        ("cat", OneHotEncoder(), cat_attribs),
    ])

full_pipeline3 = ColumnTransformer([
    ("cat", OneHotEncoder(), cat_attribs2),
    
])

full_pipeline4 = ColumnTransformer([
    ("cat", OneHotEncoder(), cat_attribs3),
])

full_pipeline5 = ColumnTransformer([
    ("cat", OneHotEncoder(), cat_attribs4),
])

In [ ]:
def learning(full_pipeline):
    ac_score = []

    skf = StratifiedKFold(n_splits=100) # stratified leave-k-out cross validation

    for train_index, test_index in skf.split(vrai_data, vrai_data['grav_class']):

        data_train, data_test = vrai_data.loc[train_index], vrai_data.loc[test_index]

        X_train = full_pipeline.fit_transform(data_train) # Attention ici on utilise la mÃ©thode fit_transforme
        y_train = np.array(data_train["grav_class"])

        X_test = full_pipeline.transform(data_test)  # et ici on utilise la mÃ©thode transforme
        y_test = np.array(data_test["grav_class"])

        model = SGDClassifier(max_iter=1000, loss='hinge')
        model.fit(X_train, y_train)
        ac_score.append(accuracy_score(y_test, model.predict(X_test)))

        #print(accuracy_score(y_test, model.predict(X_test)))

    print("****************")
    print("PrÃ©cision moyenne : ", np.mean(ac_score))
    return np.mean(ac_score)

In [ ]:
learning(full_pipeline2)

****************
PrÃ©cision moyenne :  0.8277338218818936

0.8277338218818936

In [ ]:
learning(full_pipeline3)

****************
PrÃ©cision moyenne :  0.8277338218818936

0.8277338218818936

In [ ]:
learning(full_pipeline4)

****************
PrÃ©cision moyenne :  0.8277338218818936

0.8277338218818936

In [ ]:
learning(full_pipeline5)

****************
PrÃ©cision moyenne :  0.8277338218818936

0.8277338218818936

In [ ]:
# Code example
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# Prepare the data

X = np.c_[vrai_data[["lum", "agg", "atm", "cat_time", "journee", "vac"]]]
y = y_train = np.array(vrai_data["grav_moy"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

#print(X.shape, y.shape)

#print(X_train.shape, y_train.shape)
#print(X_valid.shape, y_valid.shape)
#print(X_test.shape, y_test.shape)

# Visualize the data
#country_stats.plot(kind='scatter', x="GDP per capita", y='Life satisfaction')
#plt.show()

# Select a linear model
model = make_pipeline(OneHotEncoder(),
                     SGDRegressor(max_iter=1000, alpha=0.0001))


#model = sklearn.linear_model.SGDRegressor()

# Train the model
model.fit(X_train, y_train)

Pipeline(steps=[('onehotencoder', OneHotEncoder()),
                ('sgdregressor', SGDRegressor())])

In [ ]:
from sklearn.metrics import mean_absolute_error
y_true = y_test
y_pred =model.predict(X_test)
print(model.predict(X_test))
print(mean_absolute_error(y_true, y_pred))

[2.21236351 1.97477115 1.86685328 ... 1.99424918 1.6674251  1.80785619]
0.4004134471323116

In [ ]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_true, y_pred))
y_true = y_valid
y_pred =model.predict(X_valid)
print(model.predict(X_test))

0.4004134471323116
[2.21236351 1.97477115 1.86685328 ... 1.99424918 1.6674251  1.80785619]

In [ ]:
from sklearn.metrics import mean_absolute_error
y_true = y_valid
y_pred =model.predict(X_valid)
print(model.predict(X_test))
print(mean_absolute_error(y_true, y_pred))

[2.21236351 1.97477115 1.86685328 ... 1.99424918 1.6674251  1.80785619]
0.39844285877175933

In [ ]:
from sklearn.metrics import mean_squared_error
y_true = y_test
y_pred = model.predict(X_test)
mean_squared_error(y_true, y_pred)

0.282295122177681

In [ ]:
from sklearn.metrics import mean_squared_error
y_true = y_valid
y_pred = model.predict(X_valid)
mean_squared_error(y_true, y_pred)

0.27888434147407304

In [ ]:


from sklearn.metrics import r2_score
y_true = y_valid
y_pred = model.predict(X_valid)
r2_score(y_true, y_pred)

0.1050082258831323

In [ ]:
from sklearn.metrics import r2_score
y_true = y_test
y_pred = model.predict(X_test)
r2_score(y_true, y_pred)

0.09801203222353905

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

X = np.c_[vrai_data[["lum", "agg", "atm", "cat_time", "journee", "vac"]]]
y = y_train = np.array(vrai_data["grav_class"])

model = make_pipeline(OneHotEncoder(),
                     SGDClassifier(max_iter=1000, loss='log'))

ac_score = []

kf = StratifiedKFold(n_splits= 200)
                
    
#skf = StratifiedKFold(n_splits=5)

for train_index, test_index in kf.split(X, y):
    
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    model.fit(X_train, y_train)
    ac_score.append(accuracy_score(y_test, model.predict(X_test)))
    
print(np.mean(ac_score))

0.8263910988124062

In [221]:
X

array([[4, 1, 1, 4, 'Saturday', 'False'],
       [3, 1, 1, 4, 'Saturday', 'False'],
       [1, 1, 1, 1, 'Thursday', 'False'],
       ...,
       [4, 1, 1, 4, 'Saturday', 'False'],
       [1, 1, 1, 1, 'Saturday', 'False'],
       [3, 1, 1, 3, 'Friday', 'False']], dtype=object)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import svm, datasets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

C = 1.0
model = make_pipeline(OneHotEncoder(),
                     svm.LinearSVC(C=C))


# C = 1.0 # paramÃ¨tre de rÃ©gularisation

model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8296736913664174

In [227]:
dic_jours = {
        0:"Monday",
        1:"Tuesday",
        2:"Wednesday",
        3:"Thursday",
        4:"Friday",
        5:"Saturday",
        6:"Sunday"
    }
journee = dic_jours[0]
print(journee)

import joblib

x = "2018"
print(x[0:2])

Monday
20