In [14]:
import json
from sqlalchemy import create_engine
import pandas as pd 
import numpy as np

with open("sql_credentials.json") as file:
    data = json.load(file)
    myUser = data["user"]
    myPassword = data["password"]
    myHost = data["host"]

def connect_db(user, password, host, bd):
    s = "mysql+pymysql://"
    s += user+":"+password+"@"+host+"/"+bd
    return create_engine(s)

accidents = connect_db(myUser,myPassword,myHost,"accidents")

data = pd.read_csv("donnees/grav_class.csv")
data = data.drop(["index","Unnamed: 0"],axis=1)

data.to_sql('accident', if_exists='append', con=accidents, index=False)

pd.read_sql_query("select * from accident", accidents)

,acc_id,lum,dep,agg,atm,date,cat_time,journee,zone,grav_moy,vac,grav_class
0,1,4,93,1,1,2019-11-30,4,Saturday,C,1.66667,False,2
1,2,3,93,1,1,2019-11-30,4,Saturday,C,2.00000,False,2
2,3,1,92,1,1,2019-11-28,1,Thursday,C,1.50000,False,2
3,4,5,94,1,1,2019-11-30,3,Saturday,C,1.25000,False,2
4,5,3,94,1,1,2019-11-30,4,Saturday,C,1.33333,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...
117673,117674,1,69,1,5,2019-11-30,1,Saturday,A,2.00000,False,2
117674,117675,1,67,1,8,2019-11-27,5,Wednesday,B,1.66667,False,2
117675,117676,4,94,1,1,2019-11-30,4,Saturday,C,2.00000,False,2
117676,117677,1,78,1,1,2019-11-30,1,Saturday,C,3.00000,False,3
117677,117678,3,92,1,1,2019-11-29,3,Friday,C,1.50000,False,2